# 유동인구, 직장인구, 추정매출 결측치 채우기_문지용

In [162]:
import pandas as pd
import numpy as np

In [163]:
# 데이터 불러오기
data_path = '../../직장인구_전체통합+/'
df = pd.read_csv(data_path + 'data_processed_final.csv')

In [73]:
# 유동인구 데이터
df_people = df[['기준_년_코드', '기준_분기_코드', '상권_코드', '총_유동인구_수']]

In [74]:
# 직장인구 데이터
df_job = df[['기준_년_코드', '기준_분기_코드', '상권_코드', '총_직장_인구_수']]

In [75]:
# 추정매출 데이터
df_sales = df[['기준_년_코드', '기준_분기_코드', '상권_코드', '당월_매출_금액']]

In [76]:
# 22 * 1496 = 32912
df_people

       기준_년_코드  기준_분기_코드    상권_코드   총_유동인구_수
0       2020.0       2.0  1001453   189157.0
1       2020.0       2.0  1001454    82738.0
2       2020.0       2.0  1001474   284809.0
3       2020.0       2.0  1001475    45750.0
4       2020.0       2.0  1001412   184732.0
...        ...       ...      ...        ...
32907   2015.0       1.0  1001043   773412.0
32908   2015.0       1.0  1001044   856624.0
32909   2015.0       1.0  1001030   838040.0
32910   2015.0       1.0  1001031  1199177.0
32911   2015.0       1.0  1001033   345028.0

[32912 rows x 4 columns]

In [77]:
# 22 * 1496 = 32912
df_sales

       기준_년_코드  기준_분기_코드    상권_코드      당월_매출_금액
0       2020.0       2.0  1001453  3.994677e+09
1       2020.0       2.0  1001454  4.456344e+09
2       2020.0       2.0  1001474  1.162736e+10
3       2020.0       2.0  1001475  3.526016e+09
4       2020.0       2.0  1001412  1.442403e+10
...        ...       ...      ...           ...
32907   2015.0       1.0  1001043  2.521811e+10
32908   2015.0       1.0  1001044  3.210864e+10
32909   2015.0       1.0  1001030  2.441664e+10
32910   2015.0       1.0  1001031  4.257281e+10
32911   2015.0       1.0  1001033  5.960635e+10

[32912 rows x 4 columns]

In [78]:
# 22 * 1496 = 32912
df_job

       기준_년_코드  기준_분기_코드    상권_코드  총_직장_인구_수
0       2020.0       2.0  1001453       10.0
1       2020.0       2.0  1001454        6.0
2       2020.0       2.0  1001474       57.0
3       2020.0       2.0  1001475      138.0
4       2020.0       2.0  1001412       36.0
...        ...       ...      ...        ...
32907   2015.0       1.0  1001043     1129.0
32908   2015.0       1.0  1001044     3267.0
32909   2015.0       1.0  1001030     8352.0
32910   2015.0       1.0  1001031     1715.0
32911   2015.0       1.0  1001033      692.0

[32912 rows x 4 columns]

### 유동인구 결측치 채우기

In [89]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [90]:
onehot = OneHotEncoder()
x = onehot.fit_transform(df_people['상권_코드'].values.reshape(-1,1)).toarray()

In [91]:
onehot_df = pd.DataFrame(x, columns = ["상권코드_"+str(int(i)) for i in range(x.shape[1])])

In [92]:
people_o_hot = pd.concat([df_people, onehot_df], axis=1)

In [93]:
people_o_hot

,기준_년_코드,기준_분기_코드,상권_코드,총_유동인구_수,상권코드_0,상권코드_1,상권코드_2,상권코드_3,상권코드_4,상권코드_5,...,상권코드_1486,상권코드_1487,상권코드_1488,상권코드_1489,상권코드_1490,상권코드_1491,상권코드_1492,상권코드_1493,상권코드_1494,상권코드_1495
0,2020.0,2.0,1001453,189157.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020.0,2.0,1001454,82738.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020.0,2.0,1001474,284809.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020.0,2.0,1001475,45750.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020.0,2.0,1001412,184732.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32907,2015.0,1.0,1001043,773412.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32908,2015.0,1.0,1001044,856624.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32909,2015.0,1.0,1001030,838040.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32910,2015.0,1.0,1001031,1199177.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32911,2015.0,1.0,1001033,345028.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [96]:
people_name_list = list(people_o_hot['상권_코드'])
people_o_hot = people_o_hot.drop(['상권_코드'], axis=1)

In [97]:
import time
start = time.time()  # 시작 시간 저장
 
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors = 150)

people_o_hot_knn = imputer.fit_transform(people_o_hot)

print("time :", time.time() - start)  # 현재시각 - 시작시간 = 실행 시간

time : 14.734525918960571

In [98]:
df_people_after = pd.DataFrame(data = people_o_hot_knn)

In [100]:
df_people_after['상권_코드'] = people_name_list

In [101]:
df_people_after

,0,1,2,3,4,5,6,7,8,9,...,1490,1491,1492,1493,1494,1495,1496,1497,1498,상권_코드
0,2020.0,2.0,189157.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001453
1,2020.0,2.0,82738.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001454
2,2020.0,2.0,284809.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001474
3,2020.0,2.0,45750.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001475
4,2020.0,2.0,184732.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32907,2015.0,1.0,773412.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001043
32908,2015.0,1.0,856624.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001044
32909,2015.0,1.0,838040.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001030
32910,2015.0,1.0,1199177.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001031
32911,2015.0,1.0,345028.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001033

In [108]:
df_people_after = df_people_after[[0,1,2,'상권_코드']]
df_people_after.columns = ['기준_년_코드', '기준_분기_코드', '총_유동인구_수', '상권_코드']

In [109]:
df_people_after

       기준_년_코드  기준_분기_코드   총_유동인구_수    상권_코드
0       2020.0       2.0   189157.0  1001453
1       2020.0       2.0    82738.0  1001454
2       2020.0       2.0   284809.0  1001474
3       2020.0       2.0    45750.0  1001475
4       2020.0       2.0   184732.0  1001412
...        ...       ...        ...      ...
32907   2015.0       1.0   773412.0  1001043
32908   2015.0       1.0   856624.0  1001044
32909   2015.0       1.0   838040.0  1001030
32910   2015.0       1.0  1199177.0  1001031
32911   2015.0       1.0   345028.0  1001033

[32912 rows x 4 columns]

In [110]:
df_people_after.isnull().sum()

기준_년_코드     0
기준_분기_코드    0
총_유동인구_수    0
상권_코드       0
dtype: int64

### 직장인구 결측치 채우기

In [114]:
onehot = OneHotEncoder()
x = onehot.fit_transform(df_job['상권_코드'].values.reshape(-1,1)).toarray()

In [115]:
onehot_df = pd.DataFrame(x, columns = ["상권코드_"+str(int(i)) for i in range(x.shape[1])])

In [116]:
job_o_hot = pd.concat([df_job, onehot_df], axis=1)

In [117]:
job_o_hot

,기준_년_코드,기준_분기_코드,상권_코드,총_직장_인구_수,상권코드_0,상권코드_1,상권코드_2,상권코드_3,상권코드_4,상권코드_5,...,상권코드_1486,상권코드_1487,상권코드_1488,상권코드_1489,상권코드_1490,상권코드_1491,상권코드_1492,상권코드_1493,상권코드_1494,상권코드_1495
0,2020.0,2.0,1001453,10.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020.0,2.0,1001454,6.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020.0,2.0,1001474,57.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020.0,2.0,1001475,138.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020.0,2.0,1001412,36.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32907,2015.0,1.0,1001043,1129.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32908,2015.0,1.0,1001044,3267.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32909,2015.0,1.0,1001030,8352.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32910,2015.0,1.0,1001031,1715.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32911,2015.0,1.0,1001033,692.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [118]:
job_name_list = list(job_o_hot['상권_코드'])
job_o_hot = job_o_hot.drop(['상권_코드'], axis=1)

In [119]:
import time
start = time.time()  # 시작 시간 저장
 
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors = 150)

job_o_hot_knn = imputer.fit_transform(job_o_hot)

print("time :", time.time() - start)  # 현재시각 - 시작시간 = 실행 시간

time : 354.85640573501587

In [120]:
df_job_after = pd.DataFrame(data = job_o_hot_knn)

In [121]:
df_job_after['상권_코드'] = job_name_list

In [122]:
df_job_after

,0,1,2,3,4,5,6,7,8,9,...,1490,1491,1492,1493,1494,1495,1496,1497,1498,상권_코드
0,2020.0,2.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001453
1,2020.0,2.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001454
2,2020.0,2.0,57.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001474
3,2020.0,2.0,138.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001475
4,2020.0,2.0,36.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32907,2015.0,1.0,1129.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001043
32908,2015.0,1.0,3267.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001044
32909,2015.0,1.0,8352.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001030
32910,2015.0,1.0,1715.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001031
32911,2015.0,1.0,692.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001033

In [123]:
df_job_after = df_job_after[[0,1,2,'상권_코드']]
df_job_after.columns = ['기준_년_코드', '기준_분기_코드', '총_직장인구_수', '상권_코드']

In [124]:
df_job_after

       기준_년_코드  기준_분기_코드  총_직장인구_수    상권_코드
0       2020.0       2.0      10.0  1001453
1       2020.0       2.0       6.0  1001454
2       2020.0       2.0      57.0  1001474
3       2020.0       2.0     138.0  1001475
4       2020.0       2.0      36.0  1001412
...        ...       ...       ...      ...
32907   2015.0       1.0    1129.0  1001043
32908   2015.0       1.0    3267.0  1001044
32909   2015.0       1.0    8352.0  1001030
32910   2015.0       1.0    1715.0  1001031
32911   2015.0       1.0     692.0  1001033

[32912 rows x 4 columns]

In [125]:
df_job_after.isnull().sum()

기준_년_코드     0
기준_분기_코드    0
총_직장인구_수    0
상권_코드       0
dtype: int64

### 추정매출 결측치 채우기

In [126]:
onehot = OneHotEncoder()
x = onehot.fit_transform(df_sales['상권_코드'].values.reshape(-1,1)).toarray()

In [127]:
onehot_df = pd.DataFrame(x, columns = ["상권코드_"+str(int(i)) for i in range(x.shape[1])])

In [128]:
sales_o_hot = pd.concat([df_sales, onehot_df], axis=1)

In [129]:
sales_o_hot

,기준_년_코드,기준_분기_코드,상권_코드,당월_매출_금액,상권코드_0,상권코드_1,상권코드_2,상권코드_3,상권코드_4,상권코드_5,...,상권코드_1486,상권코드_1487,상권코드_1488,상권코드_1489,상권코드_1490,상권코드_1491,상권코드_1492,상권코드_1493,상권코드_1494,상권코드_1495
0,2020.0,2.0,1001453,3.994677e+09,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020.0,2.0,1001454,4.456344e+09,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020.0,2.0,1001474,1.162736e+10,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020.0,2.0,1001475,3.526016e+09,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020.0,2.0,1001412,1.442403e+10,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32907,2015.0,1.0,1001043,2.521811e+10,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32908,2015.0,1.0,1001044,3.210864e+10,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32909,2015.0,1.0,1001030,2.441664e+10,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32910,2015.0,1.0,1001031,4.257281e+10,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32911,2015.0,1.0,1001033,5.960635e+10,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [130]:
sales_name_list = list(sales_o_hot['상권_코드'])
sales_o_hot = sales_o_hot.drop(['상권_코드'], axis=1)

In [131]:
import time
start = time.time()  # 시작 시간 저장
 
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors = 150)

sales_o_hot_knn = imputer.fit_transform(sales_o_hot)

print("time :", time.time() - start)  # 현재시각 - 시작시간 = 실행 시간

time : 27.411269187927246

In [132]:
df_sales_after = pd.DataFrame(data = sales_o_hot_knn)

In [133]:
df_sales_after['상권_코드'] = sales_name_list

In [134]:
df_sales_after

,0,1,2,3,4,5,6,7,8,9,...,1490,1491,1492,1493,1494,1495,1496,1497,1498,상권_코드
0,2020.0,2.0,3.994677e+09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001453
1,2020.0,2.0,4.456344e+09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001454
2,2020.0,2.0,1.162736e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001474
3,2020.0,2.0,3.526016e+09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001475
4,2020.0,2.0,1.442403e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32907,2015.0,1.0,2.521811e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001043
32908,2015.0,1.0,3.210864e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001044
32909,2015.0,1.0,2.441664e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001030
32910,2015.0,1.0,4.257281e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001031
32911,2015.0,1.0,5.960635e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1001033

In [135]:
df_sales_after = df_sales_after[[0,1,2,'상권_코드']]
df_sales_after.columns = ['기준_년_코드', '기준_분기_코드', '추정매출', '상권_코드']

In [136]:
df_sales_after

       기준_년_코드  기준_분기_코드          추정매출    상권_코드
0       2020.0       2.0  3.994677e+09  1001453
1       2020.0       2.0  4.456344e+09  1001454
2       2020.0       2.0  1.162736e+10  1001474
3       2020.0       2.0  3.526016e+09  1001475
4       2020.0       2.0  1.442403e+10  1001412
...        ...       ...           ...      ...
32907   2015.0       1.0  2.521811e+10  1001043
32908   2015.0       1.0  3.210864e+10  1001044
32909   2015.0       1.0  2.441664e+10  1001030
32910   2015.0       1.0  4.257281e+10  1001031
32911   2015.0       1.0  5.960635e+10  1001033

[32912 rows x 4 columns]

In [137]:
df_sales_after.isnull().sum()

기준_년_코드     0
기준_분기_코드    0
추정매출        0
상권_코드       0
dtype: int64

### 데이터 병합

In [157]:
df_pj = pd.merge(df_people_after, df_job_after, how = 'left', on = ['기준_년_코드', '기준_분기_코드', '상권_코드'])

In [158]:
df_pjs = pd.merge(df_pj, df_sales_after, how = 'left', on = ['기준_년_코드', '기준_분기_코드', '상권_코드'])

In [159]:
# column 순서 정렬
df_pjs = df_pjs[['기준_년_코드', '기준_분기_코드', '상권_코드', '총_유동인구_수', '총_직장인구_수', '추정매출']]

In [160]:
df_pjs

       기준_년_코드  기준_분기_코드    상권_코드   총_유동인구_수  총_직장인구_수          추정매출
0       2020.0       2.0  1001453   189157.0      10.0  3.994677e+09
1       2020.0       2.0  1001454    82738.0       6.0  4.456344e+09
2       2020.0       2.0  1001474   284809.0      57.0  1.162736e+10
3       2020.0       2.0  1001475    45750.0     138.0  3.526016e+09
4       2020.0       2.0  1001412   184732.0      36.0  1.442403e+10
...        ...       ...      ...        ...       ...           ...
32907   2015.0       1.0  1001043   773412.0    1129.0  2.521811e+10
32908   2015.0       1.0  1001044   856624.0    3267.0  3.210864e+10
32909   2015.0       1.0  1001030   838040.0    8352.0  2.441664e+10
32910   2015.0       1.0  1001031  1199177.0    1715.0  4.257281e+10
32911   2015.0       1.0  1001033   345028.0     692.0  5.960635e+10

[32912 rows x 6 columns]

In [161]:
# 결측치 확인
df_pjs.isnull().sum()

기준_년_코드     0
기준_분기_코드    0
상권_코드       0
총_유동인구_수    0
총_직장인구_수    0
추정매출        0
dtype: int64