# 추정매출 + 점포 데이터 통합

In [3]:
import pandas as pd

## 1. 데이터 불러오기

### (1) 업종별 점포 데이터

In [5]:
# 데이터 경로 설정

path = "./OSSP/data/서울시_우리마을가게_상권분석서비스(상권-점포)_"

In [7]:
# 2020년 = service_info_2020, 
# 2019년 = service_info_2019, 
# .... 
# 2015년 = service_info_2015

start_year = 2015 # 시작연도 
end_year = 2021 # 마지막 연도 + 1

for i in range(start_year, end_year):
    globals()['service_info_{}'.format(i)] = pd.read_csv(path + str(i) + '.csv', encoding = 'cp949')

In [4]:
# 확인

service_info_2020.head()

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,2020,2,U,관광특구,1001496,강남 마이스 관광특구,CS300043,전자상거래업,8,8,0,0,0,0,0
1,2020,2,U,관광특구,1001496,강남 마이스 관광특구,CS300042,주유소,1,1,0,0,0,0,0
2,2020,2,U,관광특구,1001496,강남 마이스 관광특구,CS300041,예술품,9,9,0,0,0,0,0
3,2020,2,U,관광특구,1001496,강남 마이스 관광특구,CS300040,재생용품 판매점,0,0,0,0,0,0,0
4,2020,2,U,관광특구,1001496,강남 마이스 관광특구,CS300038,자동차부품,10,10,0,0,0,0,0

### (2) 업종별 추정매출 데이터

In [14]:
path = "./OSSP/data/서울시 우리마을가게 상권분석서비스(상권-추정매출)_"

In [15]:
# 2020년 = service_sales_2020, 
# 2019년 = service_sales_2019, 
# .... 
# 2015년 = service_sales_2015

start_year = 2015 # 시작연도 
end_year = 2021 # 마지막 연도 + 1

for i in range(start_year, end_year):
    globals()['service_sales_{}'.format(i)] = pd.read_csv(path + str(i) + '.csv', encoding = 'cp949')

In [152]:
# 확인

service_sales_2020

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2020,2,U,관광특구,1001496,강남 마이스 관광특구,CS300043,전자상거래업,6415600,169,...,0,63,106,0,10,139,10,5,5,8
1,2020,2,U,관광특구,1001496,강남 마이스 관광특구,CS300032,가전제품,1853749205,8319,...,132,4331,3363,66,2146,2181,1234,1062,1003,8
2,2020,2,U,관광특구,1001496,강남 마이스 관광특구,CS300031,가구,10400909742,5270,...,35,2458,2812,0,0,245,1441,1722,1862,5
3,2020,2,U,관광특구,1001496,강남 마이스 관광특구,CS300028,화초,807257363,28506,...,580,9007,18931,232,10926,10020,3876,2101,781,6
4,2020,2,U,관광특구,1001496,강남 마이스 관광특구,CS300027,섬유제품,1410497003,41063,...,1445,8135,32928,1478,20434,8248,5427,4241,1235,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66506,2020,1,A,골목상권,1000001,계동길,CS100005,제과점,257814129,27092,...,1205,10426,14742,234,4316,7089,6188,4351,2989,4
66507,2020,1,A,골목상권,1000001,계동길,CS100004,양식음식점,156728306,3589,...,33,1281,2014,5,1361,1116,331,325,157,3
66508,2020,1,A,골목상권,1000001,계동길,CS100003,일식음식점,55484866,1272,...,241,622,508,0,134,245,275,314,162,3
66509,2020,1,A,골목상권,1000001,계동길,CS100002,중식음식점,25767161,1413,...,0,592,694,145,368,240,368,96,69,1
66510,2020,1,A,골목상권,1000001,계동길,CS100001,한식음식점,431442455,18548,...,345,8752,7776,611,3828,4356,3428,2614,1690,19

In [16]:
# 2015 ~ 2020 추정매출, 폐업률 수직 통합

total_service_info = pd.DataFrame()
total_service_sales = pd.DataFrame()

# 점포 데이터 통합 (2015 ~ 2020)
for i in range (start_year, end_year):
    total_service_info = total_service_info.append(globals()['service_info_{}'.format(i)], ignore_index = True)

# 불필요한 column 제거
total_service_info = total_service_info.drop(['상권_구분_코드', '상권_구분_코드_명', '서비스_업종_코드_명'], axis=1)

# 추정매출 데이터 통합 (2015 ~ 2020)
for i in range (start_year, end_year):
    total_service_sales = total_service_sales.append(globals()['service_sales_{}'.format(i)], ignore_index = True)

# 불필요한 column 제거
total_service_sales = total_service_sales.drop(['상권_구분_코드', '상권_구분_코드_명', '서비스_업종_코드_명'], axis=1)

In [18]:
# 결과 확인
# 통합 점포 데이터

total_service_info

,기준_년_코드,기준_분기_코드,상권_코드,상권_코드_명,서비스_업종_코드,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,2015,1,1001490,길동복조리시장,CS300011,33,33,0,0,3,1,0
1,2015,1,1001046,서울 관악구 신림역_4,CS300001,18,18,0,0,0,0,0
2,2015,1,1000609,개봉로11길,CS100001,9,9,0,0,0,0,0
3,2015,1,1000910,도산대로81길,CS100004,9,9,22,2,33,3,0
4,2015,1,1000862,방배로18길,CS100002,1,2,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1969588,2020,1,1000001,계동길,CS100005,2,4,0,0,0,0,2
1969589,2020,1,1000001,계동길,CS100004,3,3,0,0,0,0,0
1969590,2020,1,1000001,계동길,CS100003,3,3,0,0,0,0,0
1969591,2020,1,1000001,계동길,CS100002,0,1,0,0,0,0,1
1969592,2020,1,1000001,계동길,CS100001,19,19,0,0,5,1,0

In [19]:
# 결측치 확인

total_service_info.isnull().sum()

기준_년_코드       0
기준_분기_코드      0
상권_코드         0
상권_코드_명       0
서비스_업종_코드     0
점포_수          0
유사_업종_점포_수    0
개업_율          0
개업_점포_수       0
폐업_률          0
폐업_점포_수       0
프랜차이즈_점포_수    0
dtype: int64

In [20]:
# 결과 확인
# 통합 추정매출 데이터

total_service_sales

,기준_년_코드,기준_분기_코드,상권_코드,상권_코드_명,서비스_업종_코드,당월_매출_금액,당월_매출_건수,주중_매출_비율,주말_매출_비율,월요일_매출_비율,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2015,1,1001018,포이사거리_2,CS300021,3390014653,88106,98,3,22,...,41,26390,18879,385,8047,13300,11808,8195,3532,19
1,2015,1,1000481,성미산로11길,CS300011,477810637,1339,86,14,23,...,9,781,406,0,64,472,216,328,108,7
2,2015,1,1000440,세검정로1길,CS200008,29303647,582,85,15,17,...,0,258,324,0,0,189,18,197,178,1
3,2015,1,1001458,인헌시장,CS100005,312469941,38207,68,32,11,...,3475,13485,22883,352,6467,13345,9907,4002,2294,3
4,2015,1,1000756,사당로8길,CS200016,38474191,2583,61,39,11,...,854,2317,197,165,827,664,544,237,77,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862311,2020,1,1000001,계동길,CS100005,257814129,27092,76,24,16,...,1205,10426,14742,234,4316,7089,6188,4351,2989,4
862312,2020,1,1000001,계동길,CS100004,156728306,3589,42,58,6,...,33,1281,2014,5,1361,1116,331,325,157,3
862313,2020,1,1000001,계동길,CS100003,55484866,1272,83,17,14,...,241,622,508,0,134,245,275,314,162,3
862314,2020,1,1000001,계동길,CS100002,25767161,1413,78,22,12,...,0,592,694,145,368,240,368,96,69,1
862315,2020,1,1000001,계동길,CS100001,431442455,18548,79,21,13,...,345,8752,7776,611,3828,4356,3428,2614,1690,19

In [21]:
# 공통되는 column 찾기

c_info = set(total_service_info.columns)
c_sales = set(total_service_sales.columns)
c_same = list(set.intersection(c_info, c_sales))

c_same

['기준_년_코드', '기준_분기_코드', '서비스_업종_코드', '상권_코드_명', '상권_코드']

In [22]:
# 통합 점포 데이터 + 통합 추정매출 데이터 = total_df

total_df = pd.merge(total_service_info, total_service_sales, how = 'left', on = c_same)

In [23]:
# 결과 확인
# 전체 통합 데이터

total_df

,기준_년_코드,기준_분기_코드,상권_코드,상권_코드_명,서비스_업종_코드,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2015,1,1001490,길동복조리시장,CS300011,33,33,0,0,3,...,643.0,4389.0,11072.0,97.0,1205.0,2267.0,4759.0,4584.0,2549.0,33.0
1,2015,1,1001046,서울 관악구 신림역_4,CS300001,18,18,0,0,0,...,48014.0,79772.0,108601.0,1293.0,68332.0,55144.0,26564.0,23568.0,13473.0,18.0
2,2015,1,1000609,개봉로11길,CS100001,9,9,0,0,0,...,664.0,1620.0,951.0,7.0,199.0,509.0,785.0,662.0,407.0,9.0
3,2015,1,1000910,도산대로81길,CS100004,9,9,22,2,33,...,1908.0,4735.0,6426.0,81.0,3347.0,4750.0,1784.0,929.0,276.0,10.0
4,2015,1,1000862,방배로18길,CS100002,1,2,0,0,0,...,75.0,1726.0,892.0,16.0,509.0,1021.0,731.0,220.0,121.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1969588,2020,1,1000001,계동길,CS100005,2,4,0,0,0,...,1205.0,10426.0,14742.0,234.0,4316.0,7089.0,6188.0,4351.0,2989.0,4.0
1969589,2020,1,1000001,계동길,CS100004,3,3,0,0,0,...,33.0,1281.0,2014.0,5.0,1361.0,1116.0,331.0,325.0,157.0,3.0
1969590,2020,1,1000001,계동길,CS100003,3,3,0,0,0,...,241.0,622.0,508.0,0.0,134.0,245.0,275.0,314.0,162.0,3.0
1969591,2020,1,1000001,계동길,CS100002,0,1,0,0,0,...,0.0,592.0,694.0,145.0,368.0,240.0,368.0,96.0,69.0,1.0
1969592,2020,1,1000001,계동길,CS100001,19,19,0,0,5,...,345.0,8752.0,7776.0,611.0,3828.0,4356.0,3428.0,2614.0,1690.0,19.0

## 3. 결측치 확인
### (1) 각 연도, 분기 데이터에 1496개 상권이 모두 포함되어 있는지 확인

In [24]:
# 연도 분리
for i in range(start_year, end_year):
    globals()['df_{}'.format(i)] = total_df[total_df['기준_년_코드'] == i]
    
# 분기 분리
for i in range(start_year, end_year):
    for j in range(1, 5):
        globals()['df_{}_{}'.format(i, j)] = globals()['df_{}'.format(i)][globals()['df_{}'.format(i)]['기준_분기_코드'] == j]
        if i == 2020 and j == 2:
            break

In [25]:
# 연도별, 분기별 상권 개수 출력

df_list = [df_2020_1, df_2020_2, df_2019_1, df_2019_2, df_2019_3, df_2019_4, df_2018_1, df_2018_2, df_2018_3, df_2018_4, df_2017_1, 
        df_2017_2, df_2017_3, df_2017_4, df_2016_1, df_2016_2, df_2016_3, df_2016_4, df_2015_1, df_2015_2, df_2015_3, df_2015_4]

for df in df_list:
    print(len(df['상권_코드'].unique()))

1496
1496
1496
1496
1496
1496
1496
1496
1496
1496
1496
1496
1496
1496
1496
1496
1496
1496
1496
1496
1496
1496

## (2) column별 결측치 확인

In [26]:
# 모든 column name

total_df.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_코드', '상권_코드_명', '서비스_업종_코드', '점포_수',
       '유사_업종_점포_수', '개업_율', '개업_점포_수', '폐업_률', '폐업_점포_수', '프랜차이즈_점포_수',
       '당월_매출_금액', '당월_매출_건수', '주중_매출_비율', '주말_매출_비율', '월요일_매출_비율',
       '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율', '금요일_매출_비율', '토요일_매출_비율',
       '일요일_매출_비율', '시간대_00~06_매출_비율', '시간대_06~11_매출_비율', '시간대_11~14_매출_비율',
       '시간대_14~17_매출_비율', '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율',
       '여성_매출_비율', '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율',
       '연령대_40_매출_비율', '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액',
       '주말_매출_금액', '월요일_매출_금액', '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액',
       '금요일_매출_금액', '토요일_매출_금액', '일요일_매출_금액', '시간대_00~06_매출_금액',
       '시간대_06~11_매출_금액', '시간대_11~14_매출_금액', '시간대_14~17_매출_금액',
       '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액', '여성_매출_금액',
       '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액',
       '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수', '주말_매출_건수', '월요일_매출_건수',
       '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수', '금요일_매출_건수', '토요일_매출_건수',
       '일요일_매출_건수', '시간대_건수~06_매출_건수', '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수',
       '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수',
       '여성_매출_건수', '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수',
       '연령대_40_매출_건수', '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수'],
      dtype='object')

In [27]:
# 모든 84개 열에 대한 각각의 결측치 수

for column in total_df.columns:
    n_of_null = total_df[column].isnull().sum()
    print("{} : {}".format(column, n_of_null))

기준_년_코드 : 0
기준_분기_코드 : 0
상권_코드 : 0
상권_코드_명 : 0
서비스_업종_코드 : 0
점포_수 : 0
유사_업종_점포_수 : 0
개업_율 : 0
개업_점포_수 : 0
폐업_률 : 0
폐업_점포_수 : 0
프랜차이즈_점포_수 : 0
당월_매출_금액 : 1115448
당월_매출_건수 : 1115448
주중_매출_비율 : 1115448
주말_매출_비율 : 1115448
월요일_매출_비율 : 1115448
화요일_매출_비율 : 1115448
수요일_매출_비율 : 1115448
목요일_매출_비율 : 1115448
금요일_매출_비율 : 1115448
토요일_매출_비율 : 1115448
일요일_매출_비율 : 1115448
시간대_00~06_매출_비율 : 1115448
시간대_06~11_매출_비율 : 1115448
시간대_11~14_매출_비율 : 1115448
시간대_14~17_매출_비율 : 1115448
시간대_17~21_매출_비율 : 1115448
시간대_21~24_매출_비율 : 1115448
남성_매출_비율 : 1115448
여성_매출_비율 : 1115448
연령대_10_매출_비율 : 1115448
연령대_20_매출_비율 : 1115448
연령대_30_매출_비율 : 1115448
연령대_40_매출_비율 : 1115448
연령대_50_매출_비율 : 1115448
연령대_60_이상_매출_비율 : 1115448
주중_매출_금액 : 1115448
주말_매출_금액 : 1115448
월요일_매출_금액 : 1115448
화요일_매출_금액 : 1115448
수요일_매출_금액 : 1115448
목요일_매출_금액 : 1115448
금요일_매출_금액 : 1115448
토요일_매출_금액 : 1115448
일요일_매출_금액 : 1115448
시간대_00~06_매출_금액 : 1115448
시간대_06~11_매출_금액 : 1115448
시간대_11~14_매출_금액 : 1115448
시간대_14~17_매출_금액 : 1115448
시간대_17~21_매출_금액 : 1115448
시간대_21~24_매출_금액 : 1115448
남성_매출_금액 : 1115448
여성_매출_금액 : 1115448
연령대_10_매출_금액 : 1115448
연령대_20_매출_금액 : 1115448
연령대_30_매출_금액 : 1115448
연령대_40_매출_금액 : 1115448
연령대_50_매출_금액 : 1115448
연령대_60_이상_매출_금액 : 1115448
주중_매출_건수 : 1115448
주말_매출_건수 : 1115448
월요일_매출_건수 : 1115448
화요일_매출_건수 : 1115448
수요일_매출_건수 : 1115448
목요일_매출_건수 : 1115448
금요일_매출_건수 : 1115448
토요일_매출_건수 : 1115448
일요일_매출_건수 : 1115448
시간대_건수~06_매출_건수 : 1115448
시간대_건수~11_매출_건수 : 1115448
시간대_건수~14_매출_건수 : 1115448
시간대_건수~17_매출_건수 : 1115448
시간대_건수~21_매출_건수 : 1115448
시간대_건수~24_매출_건수 : 1115448
남성_매출_건수 : 1115448
여성_매출_건수 : 1115448
연령대_10_매출_건수 : 1115448
연령대_20_매출_건수 : 1115448
연령대_30_매출_건수 : 1115448
연령대_40_매출_건수 : 1115448
연령대_50_매출_건수 : 1115448
연령대_60_이상_매출_건수 : 1115448
점포수 : 1115448

In [28]:
total_df.shape

(1969593, 84)

In [29]:
# 결과 저장

# total_df.to_csv("./통합_점포_추정매출.csv", encoding = 'cp949')