In [1]:
import pandas as pd
import numpy as np

In [2]:
data_path = '../2주차_누락상권_탐색/유동인구,추정매출_누락상권_탐색/data/'
df0 = pd.read_csv(data_path + '서울시 우리마을가게 상권분석서비스(상권영역).csv', encoding = 'cp949')
df1 = pd.read_csv(data_path + '서울시 우리마을가게 상권분석서비스(상권-추정유동인구)_new.csv', encoding = 'cp949')
df2_2020 = pd.read_csv(data_path + '서울시 우리마을가게 상권분석서비스(상권-추정매출)_2020_new.csv', encoding = 'cp949')
df2_2019 = pd.read_csv(data_path + '서울시 우리마을가게 상권분석서비스(상권-추정매출)_2019_new.csv', encoding = 'cp949')
df2_2018 = pd.read_csv(data_path + '서울시 우리마을가게 상권분석서비스(상권-추정매출)_2018_new.csv', encoding = 'cp949')
df2_2017 = pd.read_csv(data_path + '서울시 우리마을가게 상권분석서비스(상권-추정매출)_2017_new.csv', encoding = 'cp949')
df2_2016 = pd.read_csv(data_path + '서울시 우리마을가게 상권분석서비스(상권-추정매출)_2016_new.csv', encoding = 'cp949')
df2_2015 = pd.read_csv(data_path + '서울시 우리마을가게 상권분석서비스(상권-추정매출)_2015_new.csv', encoding = 'cp949')
df3 = pd.read_csv(data_path + '서울시 우리마을가게 상권분석서비스(상권-집객시설)_new.csv', encoding = 'cp949')

#### 0. 기준이 되는 상권

In [3]:
df0.head()

,기준_년월_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보
0,201810,R,전통시장,1001453,낙성대시장,196121,442084,11620,11620585,NaN
1,201810,R,전통시장,1001454,봉천제일종합시장,195147,442413,11620,11620595,NaN
2,201810,R,전통시장,1001474,도곡시장,204551,444227,11680,11680650,NaN
3,201810,R,전통시장,1001475,강남개포시장,206065,443310,11680,11680670,NaN
4,201810,R,전통시장,1001412,화곡본동시장,186203,449328,11500,11500590,NaN

In [4]:
df0['상권_구분_코드_명'].value_counts()

골목상권    1010
발달상권     253
전통시장     227
관광특구       6
Name: 상권_구분_코드_명, dtype: int64

In [5]:
sts = set(df0['상권_코드'])

In [6]:
len(sts)

1496

In [7]:
def nearest(code):
    X = list(df0[df0['상권_코드'] == code]['엑스좌표_값'])[0]
    Y = list(df0[df0['상권_코드'] == code]['와이좌표_값'])[0]
    x_list = list(df0['엑스좌표_값'])
    y_list = list(df0['와이좌표_값'])
    distance_list=[]
    for i in range(1496):
        x = x_list[i]
        y = y_list[i]
        distance = ((X-x)**2) + ((Y-y)**2)
        distance_list.append(distance)
    sorted_distance_list = sorted(distance_list)
    distance = sorted_distance_list[1]
    for i in range(1496):
        if distance_list[i] == distance:
            result = i
            break
        else:
            continue
    return df0.iloc[i,3]  

def no(df,target):
    s1 = set(df0['상권_코드'])
    s2 = set(df['상권_코드'])
    sub = list(s1 - s2)
    r_list
    for i in sub:
        r = nearest(i)
        r_list.append(r)

In [8]:
nearest(1001278)

1001280

===============================================================================================================

#### 1. 추정유동인구

In [9]:
df1_2020 = df1[df1['기준 년코드'] == 2020]
df1_2019 = df1[df1['기준 년코드'] == 2019]
df1_2018 = df1[df1['기준 년코드'] == 2018]
df1_2017 = df1[df1['기준 년코드'] == 2017]
df1_2016 = df1[df1['기준 년코드'] == 2016]
df1_2015 = df1[df1['기준 년코드'] == 2015]

In [10]:
df1_2020_1 = df1_2020[df1_2020['기준_분기_코드'] == 1]
df1_2020_2 = df1_2020[df1_2020['기준_분기_코드'] == 2]
df1_2019_1 = df1_2019[df1_2019['기준_분기_코드'] == 1]
df1_2019_2 = df1_2019[df1_2019['기준_분기_코드'] == 2]
df1_2019_3 = df1_2019[df1_2019['기준_분기_코드'] == 3]
df1_2019_4 = df1_2019[df1_2019['기준_분기_코드'] == 4]
df1_2018_1 = df1_2018[df1_2018['기준_분기_코드'] == 1]
df1_2018_2 = df1_2018[df1_2018['기준_분기_코드'] == 2]
df1_2018_3 = df1_2018[df1_2018['기준_분기_코드'] == 3]
df1_2018_4 = df1_2018[df1_2018['기준_분기_코드'] == 4]
df1_2017_1 = df1_2017[df1_2017['기준_분기_코드'] == 1]
df1_2017_2 = df1_2017[df1_2017['기준_분기_코드'] == 2]
df1_2017_3 = df1_2017[df1_2017['기준_분기_코드'] == 3]
df1_2017_4 = df1_2017[df1_2017['기준_분기_코드'] == 4]
df1_2016_1 = df1_2016[df1_2016['기준_분기_코드'] == 1]
df1_2016_2 = df1_2016[df1_2016['기준_분기_코드'] == 2]
df1_2016_3 = df1_2016[df1_2016['기준_분기_코드'] == 3]
df1_2016_4 = df1_2016[df1_2016['기준_분기_코드'] == 4]
df1_2015_1 = df1_2015[df1_2015['기준_분기_코드'] == 1]
df1_2015_2 = df1_2015[df1_2015['기준_분기_코드'] == 2]
df1_2015_3 = df1_2015[df1_2015['기준_분기_코드'] == 3]
df1_2015_4 = df1_2015[df1_2015['기준_분기_코드'] == 4]

In [11]:
df1_2015_1.head()

,Unnamed: 0,기준 년코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_유동인구_수
31358,31358,2015,1,U,관광특구,1001496,강남 마이스 관광특구,145076
31359,31359,2015,1,U,관광특구,1001495,잠실 관광특구,1231814
31360,31360,2015,1,U,관광특구,1001494,종로?청계 관광특구,6952385
31361,31361,2015,1,U,관광특구,1001493,동대문패션타운 관광특구,3464434
31362,31362,2015,1,U,관광특구,1001492,명동 남대문 북창동 다동 무교동 관광특구,9806431

In [12]:
print(len(df1_2020_1))
print(len(df1_2020_2))
print(len(df1_2019_1))
print(len(df1_2019_2))
print(len(df1_2019_3))
print(len(df1_2019_4))
print(len(df1_2018_1))
print(len(df1_2018_2))
print(len(df1_2018_3))
print(len(df1_2018_4))
print(len(df1_2017_1))
print(len(df1_2017_2))
print(len(df1_2017_3))
print(len(df1_2017_4))
print(len(df1_2016_1))
print(len(df1_2016_2))
print(len(df1_2016_3))
print(len(df1_2016_4))
print(len(df1_2015_1))
print(len(df1_2015_2))
print(len(df1_2015_3))
print(len(df1_2015_4))

1495
1495
1495
1495
1495
1495
1495
1495
1495
1495
1495
1495
1495
1495
1486
1495
1495
1495
1486
1485
1486
1486

In [13]:
s1_2020_1 = set(df1_2020_1['상권_코드'])
s1_2020_2 = set(df1_2020_2['상권_코드'])
s1_2019_1 = set(df1_2019_1['상권_코드'])
s1_2019_2 = set(df1_2019_2['상권_코드'])
s1_2019_3 = set(df1_2019_3['상권_코드'])
s1_2019_4 = set(df1_2019_4['상권_코드'])
s1_2018_1 = set(df1_2018_1['상권_코드'])
s1_2018_2 = set(df1_2018_2['상권_코드'])
s1_2018_3 = set(df1_2018_3['상권_코드'])
s1_2018_4 = set(df1_2018_4['상권_코드'])
s1_2017_1 = set(df1_2017_1['상권_코드'])
s1_2017_2 = set(df1_2017_2['상권_코드'])
s1_2017_3 = set(df1_2017_3['상권_코드'])
s1_2017_4 = set(df1_2017_4['상권_코드'])
s1_2016_1 = set(df1_2016_1['상권_코드'])
s1_2016_2 = set(df1_2016_2['상권_코드'])
s1_2016_3 = set(df1_2016_3['상권_코드'])
s1_2016_4 = set(df1_2016_4['상권_코드'])
s1_2015_1 = set(df1_2015_1['상권_코드'])
s1_2015_2 = set(df1_2015_2['상권_코드'])
s1_2015_3 = set(df1_2015_3['상권_코드'])
s1_2015_4 = set(df1_2015_4['상권_코드'])

In [14]:
d1_2020_1 = sts - s1_2020_1
d1_2020_2 = sts - s1_2020_2
d1_2019_1 = sts - s1_2019_1
d1_2019_2 = sts - s1_2019_2
d1_2019_3 = sts - s1_2019_3
d1_2019_4 = sts - s1_2019_4
d1_2018_1 = sts - s1_2018_1
d1_2018_2 = sts - s1_2018_2
d1_2018_3 = sts - s1_2018_3
d1_2018_4 = sts - s1_2018_4
d1_2017_1 = sts - s1_2017_1
d1_2017_2 = sts - s1_2017_2
d1_2017_3 = sts - s1_2017_3
d1_2017_4 = sts - s1_2017_4
d1_2016_1 = sts - s1_2016_1
d1_2016_2 = sts - s1_2016_2
d1_2016_3 = sts - s1_2016_3
d1_2016_4 = sts - s1_2016_4
d1_2015_1 = sts - s1_2015_1
d1_2015_2 = sts - s1_2015_2
d1_2015_3 = sts - s1_2015_3
d1_2015_4 = sts - s1_2015_4

In [15]:
d1_list = [d1_2020_1, d1_2020_2, d1_2019_1, d1_2019_2, d1_2019_3, d1_2019_4, d1_2018_1, d1_2018_2, d1_2018_3, d1_2018_4, d1_2017_1, 
           d1_2017_2, d1_2017_3, d1_2017_4, d1_2016_1, d1_2016_2, d1_2016_3, d1_2016_4, d1_2015_1, d1_2015_2, d1_2015_3, d1_2015_4]

In [16]:
for i in d1_list:
    print(i)

{1001278}
{1001278}
{1001278}
{1001278}
{1001278}
{1001278}
{1001278}
{1001278}
{1001278}
{1001278}
{1001278}
{1001278}
{1001278}
{1001278}
{1001250, 1001383, 1001258, 1001278, 1001328, 1001393, 1001269, 1001371, 1001020, 1001086}
{1001278}
{1001278}
{1001278}
{1001250, 1001383, 1001258, 1001278, 1001328, 1001393, 1001269, 1001371, 1001020, 1001086}
{1001250, 1001383, 1001258, 1001086, 1001278, 1001328, 1001393, 1001269, 1001371, 1001020, 1001118}
{1001250, 1001383, 1001258, 1001278, 1001328, 1001393, 1001269, 1001371, 1001020, 1001086}
{1001250, 1001383, 1001258, 1001278, 1001328, 1001393, 1001269, 1001371, 1001020, 1001086}

#### 2. 추정매출

In [17]:
df2_2020.columns

Index(['Unnamed: 0', '기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드',
       '상권_코드_명', '서비스_업종_코드', '서비스_업종_코드_명', '당월_매출_금액'],
      dtype='object')

In [18]:
df2_2020_1 = df2_2020[df2_2020['기준_분기_코드'] == 1]
df2_2020_2 = df2_2020[df2_2020['기준_분기_코드'] == 2]
df2_2019_1 = df2_2019[df2_2019['기준_분기_코드'] == 1]
df2_2019_2 = df2_2019[df2_2019['기준_분기_코드'] == 2]
df2_2019_3 = df2_2019[df2_2019['기준_분기_코드'] == 3]
df2_2019_4 = df2_2019[df2_2019['기준_분기_코드'] == 4]
df2_2018_1 = df2_2018[df2_2018['기준_분기_코드'] == 1]
df2_2018_2 = df2_2018[df2_2018['기준_분기_코드'] == 2]
df2_2018_3 = df2_2018[df2_2018['기준_분기_코드'] == 3]
df2_2018_4 = df2_2018[df2_2018['기준_분기_코드'] == 4]
df2_2017_1 = df2_2017[df2_2017['기준_분기_코드'] == 1]
df2_2017_2 = df2_2017[df2_2017['기준_분기_코드'] == 2]
df2_2017_3 = df2_2017[df2_2017['기준_분기_코드'] == 3]
df2_2017_4 = df2_2017[df2_2017['기준_분기_코드'] == 4]
df2_2016_1 = df2_2016[df2_2016['기준_분기_코드'] == 1]
df2_2016_2 = df2_2016[df2_2016['기준_분기_코드'] == 2]
df2_2016_3 = df2_2016[df2_2016['기준_분기_코드'] == 3]
df2_2016_4 = df2_2016[df2_2016['기준_분기_코드'] == 4]
df2_2015_1 = df2_2015[df2_2015['기준_분기_코드'] == 1]
df2_2015_2 = df2_2015[df2_2015['기준_분기_코드'] == 2]
df2_2015_3 = df2_2015[df2_2015['기준_분기_코드'] == 3]
df2_2015_4 = df2_2015[df2_2015['기준_분기_코드'] == 4]

In [19]:
df2_2015_1.head()

,Unnamed: 0,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액
0,0,2015,1,D,발달상권,1001018,포이사거리_2,CS300021,문구,3390014653
1,1,2015,1,A,골목상권,1000481,성미산로11길,CS300011,일반의류,477810637
2,2,2015,1,A,골목상권,1000440,세검정로1길,CS200008,한의원,29303647
3,3,2015,1,R,전통시장,1001458,인헌시장,CS100005,제과점,312469941
4,4,2015,1,A,골목상권,1000756,사당로8길,CS200016,당구장,38474191

In [20]:
s2_2020_1 = set(df2_2020_1['상권_코드'])
s2_2020_2 = set(df2_2020_2['상권_코드'])
s2_2019_1 = set(df2_2019_1['상권_코드'])
s2_2019_2 = set(df2_2019_2['상권_코드'])
s2_2019_3 = set(df2_2019_3['상권_코드'])
s2_2019_4 = set(df2_2019_4['상권_코드'])
s2_2018_1 = set(df2_2018_1['상권_코드'])
s2_2018_2 = set(df2_2018_2['상권_코드'])
s2_2018_3 = set(df2_2018_3['상권_코드'])
s2_2018_4 = set(df2_2018_4['상권_코드'])
s2_2017_1 = set(df2_2017_1['상권_코드'])
s2_2017_2 = set(df2_2017_2['상권_코드'])
s2_2017_3 = set(df2_2017_3['상권_코드'])
s2_2017_4 = set(df2_2017_4['상권_코드'])
s2_2016_1 = set(df2_2016_1['상권_코드'])
s2_2016_2 = set(df2_2016_2['상권_코드'])
s2_2016_3 = set(df2_2016_3['상권_코드'])
s2_2016_4 = set(df2_2016_4['상권_코드'])
s2_2015_1 = set(df2_2015_1['상권_코드'])
s2_2015_2 = set(df2_2015_2['상권_코드'])
s2_2015_3 = set(df2_2015_3['상권_코드'])
s2_2015_4 = set(df2_2015_4['상권_코드'])

In [21]:
print(len(s2_2020_1))
print(len(s2_2020_2))
print(len(s2_2019_1))
print(len(s2_2019_2))
print(len(s2_2019_3))
print(len(s2_2019_4))
print(len(s2_2018_1))
print(len(s2_2018_2))
print(len(s2_2018_3))
print(len(s2_2018_4))
print(len(s2_2017_1))
print(len(s2_2017_2))
print(len(s2_2017_3))
print(len(s2_2017_4))
print(len(s2_2016_1))
print(len(s2_2016_2))
print(len(s2_2016_3))
print(len(s2_2016_4))
print(len(s2_2015_1))
print(len(s2_2015_2))
print(len(s2_2015_3))
print(len(s2_2015_4))

1485
1485
1487
1485
1486
1487
1490
1490
1491
1491
1492
1492
1491
1491
1492
1493
1493
1491
1491
1491
1491
1491

In [22]:
d2_2020_1 = sts - s2_2020_1
d2_2020_2 = sts - s2_2020_2
d2_2019_1 = sts - s2_2019_1
d2_2019_2 = sts - s2_2019_2
d2_2019_3 = sts - s2_2019_3
d2_2019_4 = sts - s2_2019_4
d2_2018_1 = sts - s2_2018_1
d2_2018_2 = sts - s2_2018_2
d2_2018_3 = sts - s2_2018_3
d2_2018_4 = sts - s2_2018_4
d2_2017_1 = sts - s2_2017_1
d2_2017_2 = sts - s2_2017_2
d2_2017_3 = sts - s2_2017_3
d2_2017_4 = sts - s2_2017_4
d2_2016_1 = sts - s2_2016_1
d2_2016_2 = sts - s2_2016_2
d2_2016_3 = sts - s2_2016_3
d2_2016_4 = sts - s2_2016_4
d2_2015_1 = sts - s2_2015_1
d2_2015_2 = sts - s2_2015_2
d2_2015_3 = sts - s2_2015_3
d2_2015_4 = sts - s2_2015_4

In [23]:
d2_list = [d2_2020_1, d2_2020_2, d2_2019_1, d2_2019_2, d2_2019_3, d2_2019_4, d2_2018_1, d2_2018_2, d2_2018_3, d2_2018_4, d2_2017_1, 
           d2_2017_2, d2_2017_3, d2_2017_4, d2_2016_1, d2_2016_2, d2_2016_3, d2_2016_4, d2_2015_1, d2_2015_2, d2_2015_3, d2_2015_4]

In [24]:
for i in d2_list:
    print(i)

{1001344, 1000805, 1001435, 1001425, 1001272, 1001305, 1001434, 1001401, 1001372, 1001278, 1001311}
{1001344, 1000805, 1001435, 1001425, 1001272, 1001305, 1001434, 1001401, 1001372, 1001278, 1001311}
{1001435, 1001425, 1001428, 1001272, 1001305, 1001434, 1001401, 1001278, 1001311}
{1000805, 1001435, 1001389, 1001425, 1001428, 1001272, 1001305, 1001434, 1001401, 1001278, 1001311}
{1000805, 1001435, 1001425, 1001428, 1001272, 1001305, 1001434, 1001401, 1001278, 1001311}
{1000805, 1001435, 1001425, 1001272, 1001305, 1001434, 1001401, 1001278, 1001311}
{1001428, 1001272, 1001305, 1001434, 1001401, 1001311}
{1001428, 1001272, 1001305, 1001434, 1001401, 1001311}
{1001272, 1001305, 1001434, 1001401, 1001311}
{1001272, 1001305, 1001434, 1001401, 1001311}
{1001272, 1001401, 1001434, 1001311}
{1001272, 1001401, 1001434, 1001311}
{1001428, 1001272, 1001401, 1001434, 1001311}
{1001428, 1001272, 1001401, 1001434, 1001311}
{1001272, 1001305, 1001434, 1001401}
{1001272, 1001401, 1001434}
{1001272, 1001401, 1001434}
{1001272, 1001305, 1001434, 1001401, 1001311}
{1001425, 1001272, 1001305, 1001401, 1001311}
{1001425, 1001272, 1001305, 1001401, 1001311}
{1001425, 1001272, 1001305, 1001401, 1001311}
{1001425, 1001272, 1001305, 1001401, 1001311}

#### 3. 집객시설

In [25]:
df3.columns

Index(['Unnamed: 0', '기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드',
       '상권_코드_명', '집객시설_수'],
      dtype='object')

In [26]:
df3['집객시설_수'].unique()

array([ 16,  12,  19,   7,   6,  14,  11,   2,  13,   9,  25,  31,   5,
        21,  10,  15,   3,  17,   8,  18,   4,  20,   1,  30,  27,  38,
        22,  33,  24,  44,  26,  32,  23,  37,  46,  28,  36,  42,  34,
        29,  47,  77,  54,  63, 136,  99,  74,  66,  84,  69,  57,  71,
        43,  73,  76,  51,  87, 124,  70,  39,  89, 207,  55,  94,  49,
       319,  41,  75,  62, 102, 130,  53,  40,  52,  61,  67, 139, 106,
        92, 407, 119, 199, 179, 128,  60, 147,  48, 255, 217,  35,  58,
        65,  56, 206,  68,  50,  45, 120, 100,  72, 113, 107, 132, 144,
       593, 165, 327, 242,  95, 402,  90,  81,  59,  64, 263,  80, 177,
        78, 131, 125, 188, 118, 121, 101,  85, 241,  79,  82, 135,  88,
        97, 168, 111, 129, 378,  86,  83,  98, 137, 116, 211, 405, 154,
       127, 287, 205, 114, 293, 163, 143, 225, 140,  91, 155, 210, 423,
       142, 146, 115, 110, 367,  96, 427, 212, 197], dtype=int64)

In [27]:
0 in df3['집객시설_수'].unique()

False

In [28]:
df3_2020 = df3[df3['기준_년_코드'] == 2020]
df3_2019 = df3[df3['기준_년_코드'] == 2019]
df3_2018 = df3[df3['기준_년_코드'] == 2018]
df3_2017 = df3[df3['기준_년_코드'] == 2017]
df3_2016 = df3[df3['기준_년_코드'] == 2016]
df3_2015 = df3[df3['기준_년_코드'] == 2015]

In [29]:
df3_2020_1 = df3_2020[df3_2020['기준_분기_코드'] == 1]
df3_2020_2 = df3_2020[df3_2020['기준_분기_코드'] == 2]
df3_2019_1 = df3_2019[df3_2019['기준_분기_코드'] == 1]
df3_2019_2 = df3_2019[df3_2019['기준_분기_코드'] == 2]
df3_2019_3 = df3_2019[df3_2019['기준_분기_코드'] == 3]
df3_2019_4 = df3_2019[df3_2019['기준_분기_코드'] == 4]
df3_2018_1 = df3_2018[df3_2018['기준_분기_코드'] == 1]
df3_2018_2 = df3_2018[df3_2018['기준_분기_코드'] == 2]
df3_2018_3 = df3_2018[df3_2018['기준_분기_코드'] == 3]
df3_2018_4 = df3_2018[df3_2018['기준_분기_코드'] == 4]
df3_2017_1 = df3_2017[df3_2017['기준_분기_코드'] == 1]
df3_2017_2 = df3_2017[df3_2017['기준_분기_코드'] == 2]
df3_2017_3 = df3_2017[df3_2017['기준_분기_코드'] == 3]
df3_2017_4 = df3_2017[df3_2017['기준_분기_코드'] == 4]
df3_2016_1 = df3_2016[df3_2016['기준_분기_코드'] == 1]
df3_2016_2 = df3_2016[df3_2016['기준_분기_코드'] == 2]
df3_2016_3 = df3_2016[df3_2016['기준_분기_코드'] == 3]
df3_2016_4 = df3_2016[df3_2016['기준_분기_코드'] == 4]
df3_2015_1 = df3_2015[df3_2015['기준_분기_코드'] == 1]
df3_2015_2 = df3_2015[df3_2015['기준_분기_코드'] == 2]
df3_2015_3 = df3_2015[df3_2015['기준_분기_코드'] == 3]
df3_2015_4 = df3_2015[df3_2015['기준_분기_코드'] == 4]

In [30]:
print(len(df3_2020_1))
print(len(df3_2020_2))
print(len(df3_2019_1))
print(len(df3_2019_2))
print(len(df3_2019_3))
print(len(df3_2019_4))
print(len(df3_2018_1))
print(len(df3_2018_2))
print(len(df3_2018_3))
print(len(df3_2018_4))
print(len(df3_2017_1))
print(len(df3_2017_2))
print(len(df3_2017_3))
print(len(df3_2017_4))
print(len(df3_2016_1))
print(len(df3_2016_2))
print(len(df3_2016_3))
print(len(df3_2016_4))
print(len(df3_2015_1))
print(len(df3_2015_2))
print(len(df3_2015_3))
print(len(df3_2015_4))

1462
1462
1462
1462
1462
1462
1462
1462
1462
1462
1425
1425
1425
1425
1414
1414
1405
1405
1384
1384
1384
1384

In [31]:
s3_2020_1 = set(df3_2020_1['상권_코드'])
s3_2020_2 = set(df3_2020_2['상권_코드'])
s3_2019_1 = set(df3_2019_1['상권_코드'])
s3_2019_2 = set(df3_2019_2['상권_코드'])
s3_2019_3 = set(df3_2019_3['상권_코드'])
s3_2019_4 = set(df3_2019_4['상권_코드'])
s3_2018_1 = set(df3_2018_1['상권_코드'])
s3_2018_2 = set(df3_2018_2['상권_코드'])
s3_2018_3 = set(df3_2018_3['상권_코드'])
s3_2018_4 = set(df3_2018_4['상권_코드'])
s3_2017_1 = set(df3_2017_1['상권_코드'])
s3_2017_2 = set(df3_2017_2['상권_코드'])
s3_2017_3 = set(df3_2017_3['상권_코드'])
s3_2017_4 = set(df3_2017_4['상권_코드'])
s3_2016_1 = set(df3_2016_1['상권_코드'])
s3_2016_2 = set(df3_2016_2['상권_코드'])
s3_2016_3 = set(df3_2016_3['상권_코드'])
s3_2016_4 = set(df3_2016_4['상권_코드'])
s3_2015_1 = set(df3_2015_1['상권_코드'])
s3_2015_2 = set(df3_2015_2['상권_코드'])
s3_2015_3 = set(df3_2015_3['상권_코드'])
s3_2015_4 = set(df3_2015_4['상권_코드'])

In [32]:
d3_2020_1 = sts - s3_2020_1
d3_2020_2 = sts - s3_2020_2
d3_2019_1 = sts - s3_2019_1
d3_2019_2 = sts - s3_2019_2
d3_2019_3 = sts - s3_2019_3
d3_2019_4 = sts - s3_2019_4
d3_2018_1 = sts - s3_2018_1
d3_2018_2 = sts - s3_2018_2
d3_2018_3 = sts - s3_2018_3
d3_2018_4 = sts - s3_2018_4
d3_2017_1 = sts - s3_2017_1
d3_2017_2 = sts - s3_2017_2
d3_2017_3 = sts - s3_2017_3
d3_2017_4 = sts - s3_2017_4
d3_2016_1 = sts - s3_2016_1
d3_2016_2 = sts - s3_2016_2
d3_2016_3 = sts - s3_2016_3
d3_2016_4 = sts - s3_2016_4
d3_2015_1 = sts - s3_2015_1
d3_2015_2 = sts - s3_2015_2
d3_2015_3 = sts - s3_2015_3
d3_2015_4 = sts - s3_2015_4

In [33]:
d3_list = [d3_2020_1, d3_2020_2, d3_2019_1, d3_2019_2, d3_2019_3, d3_2019_4, d3_2018_1, d3_2018_2, d3_2018_3, d3_2018_4, d3_2017_1, 
           d3_2017_2, d3_2017_3, d3_2017_4, d3_2016_1, d3_2016_2, d3_2016_3, d3_2016_4, d3_2015_1, d3_2015_2, d3_2015_3, d3_2015_4]

In [34]:
for i,c in enumerate(d3_list):
    print(i+1,':',c,'\n')

1 : {1001472, 1001486, 1001370, 1001375, 1000868, 1001382, 1001384, 1001388, 1001389, 1000367, 1001269, 1001401, 1001405, 1001410, 1001417, 1001292, 1001425, 1001426, 1001432, 1001305, 1001434, 1001307, 1001437, 1001438, 1001439, 1001312, 1001443, 1001317, 1001318, 1001321, 1001328, 1001461, 1001337, 1001470}

2 : {1001472, 1001486, 1001370, 1001375, 1000868, 1001382, 1001384, 1001388, 1001389, 1000367, 1001269, 1001401, 1001405, 1001410, 1001417, 1001292, 1001425, 1001426, 1001432, 1001305, 1001434, 1001307, 1001437, 1001438, 1001439, 1001312, 1001443, 1001317, 1001318, 1001321, 1001328, 1001461, 1001337, 1001470}

3 : {1001472, 1001486, 1001370, 1001375, 1000868, 1001382, 1001384, 1001388, 1001389, 1000367, 1001269, 1001401, 1001405, 1001410, 1001417, 1001292, 1001425, 1001426, 1001432, 1001305, 1001434, 1001307, 1001437, 1001438, 1001439, 1001312, 1001443, 1001317, 1001318, 1001321, 1001328, 1001461, 1001337, 1001470}

4 : {1001472, 1001486, 1001370, 1001375, 1000868, 1001382, 1001384, 1001388, 1001389, 1000367, 1001269, 1001401, 1001405, 1001410, 1001417, 1001292, 1001425, 1001426, 1001432, 1001305, 1001434, 1001307, 1001437, 1001438, 1001439, 1001312, 1001443, 1001317, 1001318, 1001321, 1001328, 1001461, 1001337, 1001470}

5 : {1001472, 1001486, 1001370, 1001375, 1000868, 1001382, 1001384, 1001388, 1001389, 1000367, 1001269, 1001401, 1001405, 1001410, 1001417, 1001292, 1001425, 1001426, 1001432, 1001305, 1001434, 1001307, 1001437, 1001438, 1001439, 1001312, 1001443, 1001317, 1001318, 1001321, 1001328, 1001461, 1001337, 1001470}

6 : {1001472, 1001486, 1001370, 1001375, 1000868, 1001382, 1001384, 1001388, 1001389, 1000367, 1001269, 1001401, 1001405, 1001410, 1001417, 1001292, 1001425, 1001426, 1001432, 1001305, 1001434, 1001307, 1001437, 1001438, 1001439, 1001312, 1001443, 1001317, 1001318, 1001321, 1001328, 1001461, 1001337, 1001470}

7 : {1001472, 1001486, 1001370, 1001375, 1000868, 1001382, 1001384, 1001388, 1001389, 1000367, 1001269, 1001401, 1001405, 1001410, 1001417, 1001292, 1001425, 1001426, 1001432, 1001305, 1001434, 1001307, 1001437, 1001438, 1001439, 1001312, 1001443, 1001317, 1001318, 1001321, 1001328, 1001461, 1001337, 1001470}

8 : {1001472, 1001486, 1001370, 1001375, 1000868, 1001382, 1001384, 1001388, 1001389, 1000367, 1001269, 1001401, 1001405, 1001410, 1001417, 1001292, 1001425, 1001426, 1001432, 1001305, 1001434, 1001307, 1001437, 1001438, 1001439, 1001312, 1001443, 1001317, 1001318, 1001321, 1001328, 1001461, 1001337, 1001470}

9 : {1001472, 1001486, 1001370, 1001375, 1000868, 1001382, 1001384, 1001388, 1001389, 1000367, 1001269, 1001401, 1001405, 1001410, 1001417, 1001292, 1001425, 1001426, 1001432, 1001305, 1001434, 1001307, 1001437, 1001438, 1001439, 1001312, 1001443, 1001317, 1001318, 1001321, 1001328, 1001461, 1001337, 1001470}

10 : {1001472, 1001486, 1001370, 1001375, 1000868, 1001382, 1001384, 1001388, 1001389, 1000367, 1001269, 1001401, 1001405, 1001410, 1001417, 1001292, 1001425, 1001426, 1001432, 1001305, 1001434, 1001307, 1001437, 1001438, 1001439, 1001312, 1001443, 1001317, 1001318, 1001321, 1001328, 1001461, 1001337, 1001470}

11 : {1000320, 1001344, 1001472, 1001481, 1001358, 1000209, 1001361, 1000211, 1000212, 1001366, 1000857, 1001370, 1000348, 1000096, 1000609, 1000994, 1000868, 1000486, 1000103, 1000742, 1001382, 1001384, 1000875, 1001388, 1001389, 1000878, 1000367, 1000880, 1001396, 1001269, 1000759, 1000888, 1001272, 1000762, 1001401, 1001405, 1001278, 1001281, 1001410, 1001288, 1000905, 1001416, 1001417, 1000143, 1000400, 1000527, 1000657, 1001425, 1000916, 1001426, 1000279, 1000152, 1001305, 1001432, 1001307, 1001434, 1001310, 1001311, 1001312, 1001443, 1000805, 1001317, 1000174, 1000558, 1001456, 1001461, 1000950, 1001462, 1001337, 1000186, 1000317}

12 : {1000320, 1001344, 1001472, 1001481, 1001358, 1000209, 1001361, 1000211, 1000212, 1001366, 1000857, 1001370, 1000348, 1000096, 1000609, 1000994, 1000868, 1000486, 1000103, 1000742, 1001382, 1001384, 1000875, 1001388, 1001389, 1000878, 1000367, 1000880, 1001396, 1001269, 1000759, 1000888, 1001272, 1000762, 1001401, 1001405, 1001278, 1001281, 1001410, 1001288, 1000905, 1001416, 1001417, 1000143, 1000400, 1000527, 1000657, 1001425, 1000916, 1001426, 1000279, 1000152, 1001305, 1001432, 1001307, 1001434, 1001310, 1001311, 1001312, 1001443, 1000805, 1001317, 1000174, 1000558, 1001456, 1001461, 1000950, 1001462, 1001337, 1000186, 1000317}

13 : {1000320, 1001344, 1001472, 1001481, 1001358, 1000209, 1001361, 1000211, 1000212, 1001366, 1000857, 1001370, 1000348, 1000096, 1000609, 1000994, 1000868, 1000486, 1000103, 1000742, 1001382, 1001384, 1000875, 1001388, 1001389, 1000878, 1000367, 1000880, 1001396, 1001269, 1000759, 1000888, 1001272, 1000762, 1001401, 1001405, 1001278, 1001281, 1001410, 1001288, 1000905, 1001416, 1001417, 1000143, 1000400, 1000527, 1000657, 1001425, 1000916, 1001426, 1000279, 1000152, 1001305, 1001432, 1001307, 1001434, 1001310, 1001311, 1001312, 1001443, 1000805, 1001317, 1000174, 1000558, 1001456, 1001461, 1000950, 1001462, 1001337, 1000186, 1000317}

14 : {1000320, 1001344, 1001472, 1001481, 1001358, 1000209, 1001361, 1000211, 1000212, 1001366, 1000857, 1001370, 1000348, 1000096, 1000609, 1000994, 1000868, 1000486, 1000103, 1000742, 1001382, 1001384, 1000875, 1001388, 1001389, 1000878, 1000367, 1000880, 1001396, 1001269, 1000759, 1000888, 1001272, 1000762, 1001401, 1001405, 1001278, 1001281, 1001410, 1001288, 1000905, 1001416, 1001417, 1000143, 1000400, 1000527, 1000657, 1001425, 1000916, 1001426, 1000279, 1000152, 1001305, 1001432, 1001307, 1001434, 1001310, 1001311, 1001312, 1001443, 1000805, 1001317, 1000174, 1000558, 1001456, 1001461, 1000950, 1001462, 1001337, 1000186, 1000317}

15 : {1001472, 1001481, 1000461, 1001486, 1000470, 1000994, 1000486, 1000489, 1000029, 1000558, 1000066, 1000096, 1000609, 1000103, 1000113, 1000657, 1000152, 1000157, 1000174, 1000186, 1000209, 1000211, 1000742, 1001269, 1001272, 1000762, 1001278, 1001281, 1000262, 1001288, 1001305, 1001307, 1001310, 1001311, 1001312, 1000805, 1001317, 1001318, 1001321, 1000821, 1001337, 1000317, 1000320, 1001344, 1000326, 1000841, 1001358, 1001361, 1001366, 1000857, 1001370, 1000348, 1000868, 1001382, 1001384, 1000875, 1001388, 1001389, 1000878, 1000367, 1000880, 1001396, 1000888, 1001401, 1001405, 1001410, 1001417, 1000906, 1000400, 1001425, 1001426, 1001431, 1001432, 1001434, 1001437, 1001439, 1000929, 1001456, 1001461, 1001462, 1001468, 1001470}

16 : {1001472, 1001481, 1000461, 1001486, 1000470, 1000994, 1000486, 1000489, 1000029, 1000558, 1000066, 1000096, 1000609, 1000103, 1000113, 1000657, 1000152, 1000157, 1000174, 1000186, 1000209, 1000211, 1000742, 1001269, 1001272, 1000762, 1001278, 1001281, 1000262, 1001288, 1001305, 1001307, 1001310, 1001311, 1001312, 1000805, 1001317, 1001318, 1001321, 1000821, 1001337, 1000317, 1000320, 1001344, 1000326, 1000841, 1001358, 1001361, 1001366, 1000857, 1001370, 1000348, 1000868, 1001382, 1001384, 1000875, 1001388, 1001389, 1000878, 1000367, 1000880, 1001396, 1000888, 1001401, 1001405, 1001410, 1001417, 1000906, 1000400, 1001425, 1001426, 1001431, 1001432, 1001434, 1001437, 1001439, 1000929, 1001456, 1001461, 1001462, 1001468, 1001470}

17 : {1001472, 1001481, 1000461, 1001486, 1000470, 1000994, 1000486, 1000489, 1000496, 1000527, 1000029, 1000558, 1000066, 1000096, 1000609, 1000103, 1000128, 1000648, 1000143, 1000657, 1000152, 1000157, 1000174, 1000186, 1000209, 1000211, 1000742, 1001269, 1001272, 1000762, 1001278, 1001281, 1000262, 1001288, 1001305, 1001307, 1001310, 1001311, 1001312, 1000805, 1001317, 1001318, 1001321, 1000814, 1000821, 1001337, 1000317, 1000320, 1001344, 1001346, 1000326, 1000841, 1001358, 1001361, 1001366, 1000857, 1001370, 1000348, 1000868, 1001382, 1001384, 1000875, 1001388, 1001389, 1000878, 1000367, 1000880, 1000371, 1001396, 1000888, 1001401, 1001405, 1001410, 1001417, 1000906, 1000396, 1000400, 1001425, 1001426, 1001431, 1001432, 1001434, 1001439, 1000929, 1001443, 1001456, 1001461, 1000950, 1001462, 1001468, 1001470}

18 : {1001472, 1001481, 1000461, 1001486, 1000470, 1000994, 1000486, 1000489, 1000496, 1000527, 1000029, 1000558, 1000066, 1000096, 1000609, 1000103, 1000128, 1000648, 1000143, 1000657, 1000152, 1000157, 1000174, 1000186, 1000209, 1000211, 1000742, 1001269, 1001272, 1000762, 1001278, 1001281, 1000262, 1001288, 1001305, 1001307, 1001310, 1001311, 1001312, 1000805, 1001317, 1001318, 1001321, 1000814, 1000821, 1001337, 1000317, 1000320, 1001344, 1001346, 1000326, 1000841, 1001358, 1001361, 1001366, 1000857, 1001370, 1000348, 1000868, 1001382, 1001384, 1000875, 1001388, 1001389, 1000878, 1000367, 1000880, 1000371, 1001396, 1000888, 1001401, 1001405, 1001410, 1001417, 1000906, 1000396, 1000400, 1001425, 1001426, 1001431, 1001432, 1001434, 1001439, 1000929, 1001443, 1001456, 1001461, 1000950, 1001462, 1001468, 1001470}

19 : {1001472, 1001481, 1000461, 1001486, 1000994, 1000489, 1001020, 1000029, 1000548, 1000043, 1001086, 1000066, 1001118, 1000096, 1000097, 1000609, 1000103, 1000642, 1000132, 1000657, 1000157, 1000174, 1000186, 1000187, 1000206, 1000209, 1000211, 1001239, 1001250, 1000742, 1001258, 1000747, 1001269, 1001272, 1000762, 1000763, 1001278, 1001281, 1000262, 1001287, 1001288, 1001305, 1001310, 1000287, 1001311, 1001312, 1000805, 1001317, 1001318, 1001321, 1000814, 1001328, 1000821, 1000824, 1001337, 1000317, 1000320, 1001344, 1001346, 1000326, 1000841, 1000330, 1000332, 1000844, 1001358, 1001361, 1001366, 1000857, 1001370, 1001371, 1000348, 1000868, 1001382, 1001383, 1001384, 1000875, 1001388, 1000877, 1000878, 1000367, 1000880, 1001389, 1001393, 1001396, 1001398, 1001401, 1001405, 1000897, 1001410, 1001416, 1001417, 1000911, 1000400, 1001425, 1001426, 1001428, 1000407, 1001431, 1000921, 1001432, 1001433, 1001434, 1001437, 1001438, 1001439, 1000929, 1001456, 1001461, 1000950, 1001462, 1001468, 1001470}

20 : {1001472, 1001481, 1000461, 1001486, 1000994, 1000489, 1001020, 1000029, 1000548, 1000043, 1001086, 1000066, 1001118, 1000096, 1000097, 1000609, 1000103, 1000642, 1000132, 1000657, 1000157, 1000174, 1000186, 1000187, 1000206, 1000209, 1000211, 1001239, 1001250, 1000742, 1001258, 1000747, 1001269, 1001272, 1000762, 1000763, 1001278, 1001281, 1000262, 1001287, 1001288, 1001305, 1001310, 1000287, 1001311, 1001312, 1000805, 1001317, 1001318, 1001321, 1000814, 1001328, 1000821, 1000824, 1001337, 1000317, 1000320, 1001344, 1001346, 1000326, 1000841, 1000330, 1000332, 1000844, 1001358, 1001361, 1001366, 1000857, 1001370, 1001371, 1000348, 1000868, 1001382, 1001383, 1001384, 1000875, 1001388, 1000877, 1000878, 1000367, 1000880, 1001389, 1001393, 1001396, 1001398, 1001401, 1001405, 1000897, 1001410, 1001416, 1001417, 1000911, 1000400, 1001425, 1001426, 1001428, 1000407, 1001431, 1000921, 1001432, 1001433, 1001434, 1001437, 1001438, 1001439, 1000929, 1001456, 1001461, 1000950, 1001462, 1001468, 1001470}

21 : {1001472, 1001481, 1000461, 1001486, 1000994, 1000489, 1001020, 1000029, 1000548, 1000043, 1001086, 1000066, 1001118, 1000096, 1000097, 1000609, 1000103, 1000642, 1000132, 1000657, 1000157, 1000174, 1000186, 1000187, 1000206, 1000209, 1000211, 1001239, 1001250, 1000742, 1001258, 1000747, 1001269, 1001272, 1000762, 1000763, 1001278, 1001281, 1000262, 1001287, 1001288, 1001305, 1001310, 1000287, 1001311, 1001312, 1000805, 1001317, 1001318, 1001321, 1000814, 1001328, 1000821, 1000824, 1001337, 1000317, 1000320, 1001344, 1001346, 1000326, 1000841, 1000330, 1000332, 1000844, 1001358, 1001361, 1001366, 1000857, 1001370, 1001371, 1000348, 1000868, 1001382, 1001383, 1001384, 1000875, 1001388, 1000877, 1000878, 1000367, 1000880, 1001389, 1001393, 1001396, 1001398, 1001401, 1001405, 1000897, 1001410, 1001416, 1001417, 1000911, 1000400, 1001425, 1001426, 1001428, 1000407, 1001431, 1000921, 1001432, 1001433, 1001434, 1001437, 1001438, 1001439, 1000929, 1001456, 1001461, 1000950, 1001462, 1001468, 1001470}

22 : {1001472, 1001481, 1000461, 1001486, 1000994, 1000489, 1001020, 1000029, 1000548, 1000043, 1001086, 1000066, 1001118, 1000096, 1000097, 1000609, 1000103, 1000642, 1000132, 1000657, 1000157, 1000174, 1000186, 1000187, 1000206, 1000209, 1000211, 1001239, 1001250, 1000742, 1001258, 1000747, 1001269, 1001272, 1000762, 1000763, 1001278, 1001281, 1000262, 1001287, 1001288, 1001305, 1001310, 1000287, 1001311, 1001312, 1000805, 1001317, 1001318, 1001321, 1000814, 1001328, 1000821, 1000824, 1001337, 1000317, 1000320, 1001344, 1001346, 1000326, 1000841, 1000330, 1000332, 1000844, 1001358, 1001361, 1001366, 1000857, 1001370, 1001371, 1000348, 1000868, 1001382, 1001383, 1001384, 1000875, 1001388, 1000877, 1000878, 1000367, 1000880, 1001389, 1001393, 1001396, 1001398, 1001401, 1001405, 1000897, 1001410, 1001416, 1001417, 1000911, 1000400, 1001425, 1001426, 1001428, 1000407, 1001431, 1000921, 1001432, 1001433, 1001434, 1001437, 1001438, 1001439, 1000929, 1001456, 1001461, 1000950, 1001462, 1001468, 1001470}

======================================================================================================================

In [35]:
df0.columns

Index(['기준_년월_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '엑스좌표_값',
       '와이좌표_값', '시군구_코드', '행정동_코드', '형태정보'],
      dtype='object')

In [36]:
new_c0 = ['상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명']

In [37]:
df0_new = df0[new_c0]

In [38]:
df1.columns

Index(['Unnamed: 0', '기준 년코드', '기준_분기_코드', ' 상권_구분_코드', ' 상권_구분_코드_명', '상권_코드',
       '상권_코드_명', '총_유동인구_수'],
      dtype='object')

In [39]:
new_c1 = ['기준 년코드', '상권_코드', '기준_분기_코드', '총_유동인구_수']

In [40]:
df1_2020_1_new = df1_2020_1[new_c1]
df1_2020_2_new = df1_2020_2[new_c1]
df1_2019_1_new = df1_2019_1[new_c1]
df1_2019_2_new = df1_2019_2[new_c1]
df1_2019_3_new = df1_2019_3[new_c1]
df1_2019_4_new = df1_2019_4[new_c1]
df1_2018_1_new = df1_2018_1[new_c1]
df1_2018_2_new = df1_2018_2[new_c1]
df1_2018_3_new = df1_2018_3[new_c1]
df1_2018_4_new = df1_2018_4[new_c1]
df1_2017_1_new = df1_2017_1[new_c1]
df1_2017_2_new = df1_2017_2[new_c1]
df1_2017_3_new = df1_2017_3[new_c1]
df1_2017_4_new = df1_2017_4[new_c1]
df1_2016_1_new = df1_2016_1[new_c1]
df1_2016_2_new = df1_2016_2[new_c1]
df1_2016_3_new = df1_2016_3[new_c1]
df1_2016_4_new = df1_2016_4[new_c1]
df1_2015_1_new = df1_2015_1[new_c1]
df1_2015_2_new = df1_2015_2[new_c1]
df1_2015_3_new = df1_2015_3[new_c1]
df1_2015_4_new = df1_2015_4[new_c1]

In [41]:
new_c1 = ['기준_년_코드', '상권_코드', '기준_분기_코드', '총_유동인구_수']

In [42]:
df1_2020_1_new

      기준 년코드    상권_코드  기준_분기_코드  총_유동인구_수
1495    2020  1001496         1     97812
1496    2020  1001495         1   3066519
1497    2020  1001494         1   4059764
1498    2020  1001493         1   3225040
1499    2020  1001492         1   4143289
...      ...      ...       ...       ...
2985    2020  1000005         1    178717
2986    2020  1000004         1    623119
2987    2020  1000003         1    178244
2988    2020  1000002         1    347131
2989    2020  1000001         1    336343

[1495 rows x 4 columns]

In [43]:
df1_2020_1_new.columns = new_c1
df1_2020_2_new.columns = new_c1
df1_2019_1_new.columns = new_c1
df1_2019_2_new.columns = new_c1
df1_2019_3_new.columns = new_c1
df1_2019_4_new.columns = new_c1
df1_2018_1_new.columns = new_c1
df1_2018_2_new.columns = new_c1
df1_2018_3_new.columns = new_c1
df1_2018_4_new.columns = new_c1
df1_2017_1_new.columns = new_c1
df1_2017_2_new.columns = new_c1
df1_2017_3_new.columns = new_c1
df1_2017_4_new.columns = new_c1
df1_2016_1_new.columns = new_c1
df1_2016_2_new.columns = new_c1
df1_2016_3_new.columns = new_c1
df1_2016_4_new.columns = new_c1
df1_2015_1_new.columns = new_c1
df1_2015_2_new.columns = new_c1
df1_2015_3_new.columns = new_c1
df1_2015_4_new.columns = new_c1

In [44]:
df1_2020_1_new

      기준_년_코드    상권_코드  기준_분기_코드  총_유동인구_수
1495     2020  1001496         1     97812
1496     2020  1001495         1   3066519
1497     2020  1001494         1   4059764
1498     2020  1001493         1   3225040
1499     2020  1001492         1   4143289
...       ...      ...       ...       ...
2985     2020  1000005         1    178717
2986     2020  1000004         1    623119
2987     2020  1000003         1    178244
2988     2020  1000002         1    347131
2989     2020  1000001         1    336343

[1495 rows x 4 columns]

In [45]:
df_2020_1 = pd.merge(df0_new, df1_2020_1_new, how = 'left', on = '상권_코드')
df_2020_2 = pd.merge(df0_new, df1_2020_2_new, how = 'left', on = '상권_코드')
df_2019_1 = pd.merge(df0_new, df1_2019_1_new, how = 'left', on = '상권_코드')
df_2019_2 = pd.merge(df0_new, df1_2019_2_new, how = 'left', on = '상권_코드')
df_2019_3 = pd.merge(df0_new, df1_2019_3_new, how = 'left', on = '상권_코드')
df_2019_4 = pd.merge(df0_new, df1_2019_4_new, how = 'left', on = '상권_코드')
df_2018_1 = pd.merge(df0_new, df1_2018_1_new, how = 'left', on = '상권_코드')
df_2018_2 = pd.merge(df0_new, df1_2018_2_new, how = 'left', on = '상권_코드')
df_2018_3 = pd.merge(df0_new, df1_2018_3_new, how = 'left', on = '상권_코드')
df_2018_4 = pd.merge(df0_new, df1_2018_4_new, how = 'left', on = '상권_코드')
df_2017_1 = pd.merge(df0_new, df1_2017_1_new, how = 'left', on = '상권_코드')
df_2017_2 = pd.merge(df0_new, df1_2017_2_new, how = 'left', on = '상권_코드')
df_2017_3 = pd.merge(df0_new, df1_2017_3_new, how = 'left', on = '상권_코드')
df_2017_4 = pd.merge(df0_new, df1_2017_4_new, how = 'left', on = '상권_코드')
df_2016_1 = pd.merge(df0_new, df1_2016_1_new, how = 'left', on = '상권_코드')
df_2016_2 = pd.merge(df0_new, df1_2016_2_new, how = 'left', on = '상권_코드')
df_2016_3 = pd.merge(df0_new, df1_2016_3_new, how = 'left', on = '상권_코드')
df_2016_4 = pd.merge(df0_new, df1_2016_4_new, how = 'left', on = '상권_코드')
df_2015_1 = pd.merge(df0_new, df1_2015_1_new, how = 'left', on = '상권_코드')
df_2015_2 = pd.merge(df0_new, df1_2015_2_new, how = 'left', on = '상권_코드')
df_2015_3 = pd.merge(df0_new, df1_2015_3_new, how = 'left', on = '상권_코드')
df_2015_4 = pd.merge(df0_new, df1_2015_4_new, how = 'left', on = '상권_코드')

In [46]:
df_2020_1

,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,기준_년_코드,기준_분기_코드,총_유동인구_수
0,R,전통시장,1001453,낙성대시장,2020.0,1.0,173845.0
1,R,전통시장,1001454,봉천제일종합시장,2020.0,1.0,82449.0
2,R,전통시장,1001474,도곡시장,2020.0,1.0,285379.0
3,R,전통시장,1001475,강남개포시장,2020.0,1.0,46885.0
4,R,전통시장,1001412,화곡본동시장,2020.0,1.0,191259.0
...,...,...,...,...,...,...,...
1491,D,발달상권,1001043,동작구 총신대입구역_2,2020.0,1.0,862839.0
1492,D,발달상권,1001044,양재역_3,2020.0,1.0,883062.0
1493,D,발달상권,1001030,양재역_2,2020.0,1.0,448660.0
1494,D,발달상권,1001031,서울 관악구 신림역_1,2020.0,1.0,1140661.0
1495,D,발달상권,1001033,서울 서초구 남부터미널역_1,2020.0,1.0,310811.0

In [47]:
df3.columns

Index(['Unnamed: 0', '기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드',
       '상권_코드_명', '집객시설_수'],
      dtype='object')

In [48]:
new_c3 = ['기준_년_코드', '상권_코드', '기준_분기_코드', '집객시설_수']

In [49]:
df3_2020_1_new = df3_2020_1[new_c3]
df3_2020_2_new = df3_2020_2[new_c3]
df3_2019_1_new = df3_2019_1[new_c3]
df3_2019_2_new = df3_2019_2[new_c3]
df3_2019_3_new = df3_2019_3[new_c3]
df3_2019_4_new = df3_2019_4[new_c3]
df3_2018_1_new = df3_2018_1[new_c3]
df3_2018_2_new = df3_2018_2[new_c3]
df3_2018_3_new = df3_2018_3[new_c3]
df3_2018_4_new = df3_2018_4[new_c3]
df3_2017_1_new = df3_2017_1[new_c3]
df3_2017_2_new = df3_2017_2[new_c3]
df3_2017_3_new = df3_2017_3[new_c3]
df3_2017_4_new = df3_2017_4[new_c3]
df3_2016_1_new = df3_2016_1[new_c3]
df3_2016_2_new = df3_2016_2[new_c3]
df3_2016_3_new = df3_2016_3[new_c3]
df3_2016_4_new = df3_2016_4[new_c3]
df3_2015_1_new = df3_2015_1[new_c3]
df3_2015_2_new = df3_2015_2[new_c3]
df3_2015_3_new = df3_2015_3[new_c3]
df3_2015_4_new = df3_2015_4[new_c3]

In [50]:
df_2020_1 = pd.merge(df_2020_1, df3_2020_1_new, how = 'left', on = ['상권_코드','기준_년_코드', '기준_분기_코드'])
df_2020_2 = pd.merge(df_2020_2, df3_2020_2_new, how = 'left', on = ['상권_코드','기준_년_코드', '기준_분기_코드'])
df_2019_1 = pd.merge(df_2019_1, df3_2019_1_new, how = 'left', on = ['상권_코드','기준_년_코드', '기준_분기_코드'])
df_2019_2 = pd.merge(df_2019_2, df3_2019_2_new, how = 'left', on = ['상권_코드','기준_년_코드', '기준_분기_코드'])
df_2019_3 = pd.merge(df_2019_3, df3_2019_3_new, how = 'left', on = ['상권_코드','기준_년_코드', '기준_분기_코드'])
df_2019_4 = pd.merge(df_2019_4, df3_2019_4_new, how = 'left', on = ['상권_코드','기준_년_코드', '기준_분기_코드'])
df_2018_1 = pd.merge(df_2018_1, df3_2018_1_new, how = 'left', on = ['상권_코드','기준_년_코드', '기준_분기_코드'])
df_2018_2 = pd.merge(df_2018_2, df3_2018_2_new, how = 'left', on = ['상권_코드','기준_년_코드', '기준_분기_코드'])
df_2018_3 = pd.merge(df_2018_3, df3_2018_3_new, how = 'left', on = ['상권_코드','기준_년_코드', '기준_분기_코드'])
df_2018_4 = pd.merge(df_2018_4, df3_2018_4_new, how = 'left', on = ['상권_코드','기준_년_코드', '기준_분기_코드'])
df_2017_1 = pd.merge(df_2017_1, df3_2017_1_new, how = 'left', on = ['상권_코드','기준_년_코드', '기준_분기_코드'])
df_2017_2 = pd.merge(df_2017_2, df3_2017_2_new, how = 'left', on = ['상권_코드','기준_년_코드', '기준_분기_코드'])
df_2017_3 = pd.merge(df_2017_3, df3_2017_3_new, how = 'left', on = ['상권_코드','기준_년_코드', '기준_분기_코드'])
df_2017_4 = pd.merge(df_2017_4, df3_2017_4_new, how = 'left', on = ['상권_코드','기준_년_코드', '기준_분기_코드'])
df_2016_1 = pd.merge(df_2016_1, df3_2016_1_new, how = 'left', on = ['상권_코드','기준_년_코드', '기준_분기_코드'])
df_2016_2 = pd.merge(df_2016_2, df3_2016_2_new, how = 'left', on = ['상권_코드','기준_년_코드', '기준_분기_코드'])
df_2016_3 = pd.merge(df_2016_3, df3_2016_3_new, how = 'left', on = ['상권_코드','기준_년_코드', '기준_분기_코드'])
df_2016_4 = pd.merge(df_2016_4, df3_2016_4_new, how = 'left', on = ['상권_코드','기준_년_코드', '기준_분기_코드'])
df_2015_1 = pd.merge(df_2015_1, df3_2015_1_new, how = 'left', on = ['상권_코드','기준_년_코드', '기준_분기_코드'])
df_2015_2 = pd.merge(df_2015_2, df3_2015_2_new, how = 'left', on = ['상권_코드','기준_년_코드', '기준_분기_코드'])
df_2015_3 = pd.merge(df_2015_3, df3_2015_3_new, how = 'left', on = ['상권_코드','기준_년_코드', '기준_분기_코드'])
df_2015_4 = pd.merge(df_2015_4, df3_2015_4_new, how = 'left', on = ['상권_코드','기준_년_코드', '기준_분기_코드'])

In [51]:
df_2020_1

,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,기준_년_코드,기준_분기_코드,총_유동인구_수,집객시설_수
0,R,전통시장,1001453,낙성대시장,2020.0,1.0,173845.0,4.0
1,R,전통시장,1001454,봉천제일종합시장,2020.0,1.0,82449.0,2.0
2,R,전통시장,1001474,도곡시장,2020.0,1.0,285379.0,7.0
3,R,전통시장,1001475,강남개포시장,2020.0,1.0,46885.0,4.0
4,R,전통시장,1001412,화곡본동시장,2020.0,1.0,191259.0,10.0
...,...,...,...,...,...,...,...,...
1491,D,발달상권,1001043,동작구 총신대입구역_2,2020.0,1.0,862839.0,71.0
1492,D,발달상권,1001044,양재역_3,2020.0,1.0,883062.0,43.0
1493,D,발달상권,1001030,양재역_2,2020.0,1.0,448660.0,47.0
1494,D,발달상권,1001031,서울 관악구 신림역_1,2020.0,1.0,1140661.0,21.0
1495,D,발달상권,1001033,서울 서초구 남부터미널역_1,2020.0,1.0,310811.0,26.0

In [52]:
df2_2020.columns

Index(['Unnamed: 0', '기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드',
       '상권_코드_명', '서비스_업종_코드', '서비스_업종_코드_명', '당월_매출_금액'],
      dtype='object')

In [53]:
new_c2 = ['상권_코드','당월_매출_금액']

In [54]:
df2_2020_1_new = df2_2020_1[new_c2]
df2_2020_2_new = df2_2020_2[new_c2]
df2_2019_1_new = df2_2019_1[new_c2]
df2_2019_2_new = df2_2019_2[new_c2]
df2_2019_3_new = df2_2019_3[new_c2]
df2_2019_4_new = df2_2019_4[new_c2]
df2_2018_1_new = df2_2018_1[new_c2]
df2_2018_2_new = df2_2018_2[new_c2]
df2_2018_3_new = df2_2018_3[new_c2]
df2_2018_4_new = df2_2018_4[new_c2]
df2_2017_1_new = df2_2017_1[new_c2]
df2_2017_2_new = df2_2017_2[new_c2]
df2_2017_3_new = df2_2017_3[new_c2]
df2_2017_4_new = df2_2017_4[new_c2]
df2_2016_1_new = df2_2016_1[new_c2]
df2_2016_2_new = df2_2016_2[new_c2]
df2_2016_3_new = df2_2016_3[new_c2]
df2_2016_4_new = df2_2016_4[new_c2]
df2_2015_1_new = df2_2015_1[new_c2]
df2_2015_2_new = df2_2015_2[new_c2]
df2_2015_3_new = df2_2015_3[new_c2]
df2_2015_4_new = df2_2015_4[new_c2]

In [55]:
df2_2020_1_new = df2_2020_1_new.groupby(df2_2020_1_new['상권_코드']).sum()
df2_2020_2_new = df2_2020_2_new.groupby(df2_2020_2_new['상권_코드']).sum()
df2_2019_1_new = df2_2019_1_new.groupby(df2_2019_1_new['상권_코드']).sum()
df2_2019_2_new = df2_2019_2_new.groupby(df2_2019_2_new['상권_코드']).sum()
df2_2019_3_new = df2_2019_3_new.groupby(df2_2019_3_new['상권_코드']).sum()
df2_2019_4_new = df2_2019_4_new.groupby(df2_2019_4_new['상권_코드']).sum()
df2_2018_1_new = df2_2018_1_new.groupby(df2_2018_1_new['상권_코드']).sum()
df2_2018_2_new = df2_2018_2_new.groupby(df2_2018_2_new['상권_코드']).sum()
df2_2018_3_new = df2_2018_3_new.groupby(df2_2018_3_new['상권_코드']).sum()
df2_2018_4_new = df2_2018_4_new.groupby(df2_2018_4_new['상권_코드']).sum()
df2_2017_1_new = df2_2017_1_new.groupby(df2_2017_1_new['상권_코드']).sum()
df2_2017_2_new = df2_2017_2_new.groupby(df2_2017_2_new['상권_코드']).sum()
df2_2017_3_new = df2_2017_3_new.groupby(df2_2017_3_new['상권_코드']).sum()
df2_2017_4_new = df2_2017_4_new.groupby(df2_2017_4_new['상권_코드']).sum()
df2_2016_1_new = df2_2016_1_new.groupby(df2_2016_1_new['상권_코드']).sum()
df2_2016_2_new = df2_2016_2_new.groupby(df2_2016_2_new['상권_코드']).sum()
df2_2016_3_new = df2_2016_3_new.groupby(df2_2016_3_new['상권_코드']).sum()
df2_2016_4_new = df2_2016_4_new.groupby(df2_2016_4_new['상권_코드']).sum()
df2_2015_1_new = df2_2015_1_new.groupby(df2_2015_1_new['상권_코드']).sum()
df2_2015_2_new = df2_2015_2_new.groupby(df2_2015_2_new['상권_코드']).sum()
df2_2015_3_new = df2_2015_3_new.groupby(df2_2015_3_new['상권_코드']).sum()
df2_2015_4_new = df2_2015_4_new.groupby(df2_2015_4_new['상권_코드']).sum()

In [56]:
df2_2019_1_new

             당월_매출_금액
상권_코드
1000001    3373980252
1000002    5786105171
1000003    8605367463
1000004    2973229199
1000005    2233832246
...               ...
1001492  391001573608
1001493  190162361132
1001494  186553018011
1001495  153906573289
1001496  168780617914

[1487 rows x 1 columns]

In [57]:
df_2020_1 = pd.merge(df_2020_1, df2_2020_1_new, how = 'left', on = '상권_코드')
df_2020_2 = pd.merge(df_2020_2, df2_2020_2_new, how = 'left', on = '상권_코드')
df_2019_1 = pd.merge(df_2019_1, df2_2019_1_new, how = 'left', on = '상권_코드')
df_2019_2 = pd.merge(df_2019_2, df2_2019_2_new, how = 'left', on = '상권_코드')
df_2019_3 = pd.merge(df_2019_3, df2_2019_3_new, how = 'left', on = '상권_코드')
df_2019_4 = pd.merge(df_2019_4, df2_2019_4_new, how = 'left', on = '상권_코드')
df_2018_1 = pd.merge(df_2018_1, df2_2018_1_new, how = 'left', on = '상권_코드')
df_2018_2 = pd.merge(df_2018_2, df2_2018_2_new, how = 'left', on = '상권_코드')
df_2018_3 = pd.merge(df_2018_3, df2_2018_3_new, how = 'left', on = '상권_코드')
df_2018_4 = pd.merge(df_2018_4, df2_2018_4_new, how = 'left', on = '상권_코드')
df_2017_1 = pd.merge(df_2017_1, df2_2017_1_new, how = 'left', on = '상권_코드')
df_2017_2 = pd.merge(df_2017_2, df2_2017_2_new, how = 'left', on = '상권_코드')
df_2017_3 = pd.merge(df_2017_3, df2_2017_3_new, how = 'left', on = '상권_코드')
df_2017_4 = pd.merge(df_2017_4, df2_2017_4_new, how = 'left', on = '상권_코드')
df_2016_1 = pd.merge(df_2016_1, df2_2016_1_new, how = 'left', on = '상권_코드')
df_2016_2 = pd.merge(df_2016_2, df2_2016_2_new, how = 'left', on = '상권_코드')
df_2016_3 = pd.merge(df_2016_3, df2_2016_3_new, how = 'left', on = '상권_코드')
df_2016_4 = pd.merge(df_2016_4, df2_2016_4_new, how = 'left', on = '상권_코드')
df_2015_1 = pd.merge(df_2015_1, df2_2015_1_new, how = 'left', on = '상권_코드')
df_2015_2 = pd.merge(df_2015_2, df2_2015_2_new, how = 'left', on = '상권_코드')
df_2015_3 = pd.merge(df_2015_3, df2_2015_3_new, how = 'left', on = '상권_코드')
df_2015_4 = pd.merge(df_2015_4, df2_2015_4_new, how = 'left', on = '상권_코드')

In [58]:
df_2015_4

,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,기준_년_코드,기준_분기_코드,총_유동인구_수,집객시설_수,당월_매출_금액
0,R,전통시장,1001453,낙성대시장,2015.0,4.0,25458.0,2.0,2.296966e+09
1,R,전통시장,1001454,봉천제일종합시장,2015.0,4.0,15774.0,1.0,1.471918e+09
2,R,전통시장,1001474,도곡시장,2015.0,4.0,57130.0,12.0,1.131937e+10
3,R,전통시장,1001475,강남개포시장,2015.0,4.0,12885.0,6.0,6.142003e+09
4,R,전통시장,1001412,화곡본동시장,2015.0,4.0,52599.0,16.0,1.033127e+10
...,...,...,...,...,...,...,...,...,...
1491,D,발달상권,1001043,동작구 총신대입구역_2,2015.0,4.0,769372.0,46.0,2.494723e+10
1492,D,발달상권,1001044,양재역_3,2015.0,4.0,870623.0,32.0,3.436679e+10
1493,D,발달상권,1001030,양재역_2,2015.0,4.0,646860.0,33.0,2.461827e+10
1494,D,발달상권,1001031,서울 관악구 신림역_1,2015.0,4.0,773193.0,22.0,4.379743e+10
1495,D,발달상권,1001033,서울 서초구 남부터미널역_1,2015.0,4.0,273880.0,25.0,6.172689e+10

In [59]:
df_2015_1['기준_년_코드'] = df_2015_1['기준_년_코드'].fillna(2015)
df_2015_2['기준_년_코드'] = df_2015_2['기준_년_코드'].fillna(2015)
df_2015_3['기준_년_코드'] = df_2015_3['기준_년_코드'].fillna(2015)
df_2015_4['기준_년_코드'] = df_2015_4['기준_년_코드'].fillna(2015)
df_2016_1['기준_년_코드'] = df_2016_1['기준_년_코드'].fillna(2016)
df_2016_2['기준_년_코드'] = df_2016_2['기준_년_코드'].fillna(2016)
df_2016_3['기준_년_코드'] = df_2016_3['기준_년_코드'].fillna(2016)
df_2016_4['기준_년_코드'] = df_2016_4['기준_년_코드'].fillna(2016)
df_2017_1['기준_년_코드'] = df_2017_1['기준_년_코드'].fillna(2017)
df_2017_2['기준_년_코드'] = df_2017_2['기준_년_코드'].fillna(2017)
df_2017_3['기준_년_코드'] = df_2017_3['기준_년_코드'].fillna(2017)
df_2017_4['기준_년_코드'] = df_2017_4['기준_년_코드'].fillna(2017)
df_2018_1['기준_년_코드'] = df_2018_1['기준_년_코드'].fillna(2018)
df_2018_2['기준_년_코드'] = df_2018_2['기준_년_코드'].fillna(2018)
df_2018_3['기준_년_코드'] = df_2018_3['기준_년_코드'].fillna(2018)
df_2018_4['기준_년_코드'] = df_2018_4['기준_년_코드'].fillna(2018)
df_2019_1['기준_년_코드'] = df_2019_1['기준_년_코드'].fillna(2019)
df_2019_2['기준_년_코드'] = df_2019_2['기준_년_코드'].fillna(2019)
df_2019_3['기준_년_코드'] = df_2019_3['기준_년_코드'].fillna(2019)
df_2019_4['기준_년_코드'] = df_2019_4['기준_년_코드'].fillna(2019)
df_2020_1['기준_년_코드'] = df_2020_1['기준_년_코드'].fillna(2020)
df_2020_2['기준_년_코드'] = df_2020_2['기준_년_코드'].fillna(2020)

In [60]:
df_2015_1['기준_분기_코드'] = df_2015_1['기준_분기_코드'].fillna(1)
df_2015_2['기준_분기_코드'] = df_2015_2['기준_분기_코드'].fillna(2)
df_2015_3['기준_분기_코드'] = df_2015_3['기준_분기_코드'].fillna(3)
df_2015_4['기준_분기_코드'] = df_2015_4['기준_분기_코드'].fillna(4)
df_2016_1['기준_분기_코드'] = df_2016_1['기준_분기_코드'].fillna(1)
df_2016_2['기준_분기_코드'] = df_2016_2['기준_분기_코드'].fillna(2)
df_2016_3['기준_분기_코드'] = df_2016_3['기준_분기_코드'].fillna(3)
df_2016_4['기준_분기_코드'] = df_2016_4['기준_분기_코드'].fillna(4)
df_2017_1['기준_분기_코드'] = df_2017_1['기준_분기_코드'].fillna(1)
df_2017_2['기준_분기_코드'] = df_2017_2['기준_분기_코드'].fillna(2)
df_2017_3['기준_분기_코드'] = df_2017_3['기준_분기_코드'].fillna(3)
df_2017_4['기준_분기_코드'] = df_2017_4['기준_분기_코드'].fillna(4)
df_2018_1['기준_분기_코드'] = df_2018_1['기준_분기_코드'].fillna(1)
df_2018_2['기준_분기_코드'] = df_2018_2['기준_분기_코드'].fillna(2)
df_2018_3['기준_분기_코드'] = df_2018_3['기준_분기_코드'].fillna(3)
df_2018_4['기준_분기_코드'] = df_2018_4['기준_분기_코드'].fillna(4)
df_2019_1['기준_분기_코드'] = df_2019_1['기준_분기_코드'].fillna(1)
df_2019_2['기준_분기_코드'] = df_2019_2['기준_분기_코드'].fillna(2)
df_2019_3['기준_분기_코드'] = df_2019_3['기준_분기_코드'].fillna(3)
df_2019_4['기준_분기_코드'] = df_2019_4['기준_분기_코드'].fillna(4)
df_2020_1['기준_분기_코드'] = df_2020_1['기준_분기_코드'].fillna(1)
df_2020_2['기준_분기_코드'] = df_2020_2['기준_분기_코드'].fillna(2)

In [61]:
merge_df = pd.concat([df_2020_2,df_2020_1,df_2019_4,df_2019_3,df_2019_2,df_2019_1,df_2018_4,df_2018_3,df_2018_2,df_2018_1,df_2017_4,
                     df_2017_3,df_2017_2,df_2017_1,df_2016_4,df_2016_3,df_2016_2,df_2016_1,df_2015_4,df_2015_3,df_2015_2,df_2015_1])

In [62]:
merge_df

,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,기준_년_코드,기준_분기_코드,총_유동인구_수,집객시설_수,당월_매출_금액
0,R,전통시장,1001453,낙성대시장,2020.0,2.0,189157.0,4.0,3.994677e+09
1,R,전통시장,1001454,봉천제일종합시장,2020.0,2.0,82738.0,2.0,4.456344e+09
2,R,전통시장,1001474,도곡시장,2020.0,2.0,284809.0,7.0,1.162736e+10
3,R,전통시장,1001475,강남개포시장,2020.0,2.0,45750.0,4.0,3.526016e+09
4,R,전통시장,1001412,화곡본동시장,2020.0,2.0,184732.0,10.0,1.442403e+10
...,...,...,...,...,...,...,...,...,...
1491,D,발달상권,1001043,동작구 총신대입구역_2,2015.0,1.0,773412.0,46.0,2.521811e+10
1492,D,발달상권,1001044,양재역_3,2015.0,1.0,856624.0,32.0,3.210864e+10
1493,D,발달상권,1001030,양재역_2,2015.0,1.0,838040.0,33.0,2.441664e+10
1494,D,발달상권,1001031,서울 관악구 신림역_1,2015.0,1.0,1199177.0,22.0,4.257281e+10
1495,D,발달상권,1001033,서울 서초구 남부터미널역_1,2015.0,1.0,345028.0,25.0,5.960635e+10

In [63]:
merge_df = merge_df[['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '당월_매출_금액']]

In [64]:
merge_df

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,당월_매출_금액
0,2020.0,2.0,R,전통시장,1001453,낙성대시장,3.994677e+09
1,2020.0,2.0,R,전통시장,1001454,봉천제일종합시장,4.456344e+09
2,2020.0,2.0,R,전통시장,1001474,도곡시장,1.162736e+10
3,2020.0,2.0,R,전통시장,1001475,강남개포시장,3.526016e+09
4,2020.0,2.0,R,전통시장,1001412,화곡본동시장,1.442403e+10
...,...,...,...,...,...,...,...
1491,2015.0,1.0,D,발달상권,1001043,동작구 총신대입구역_2,2.521811e+10
1492,2015.0,1.0,D,발달상권,1001044,양재역_3,3.210864e+10
1493,2015.0,1.0,D,발달상권,1001030,양재역_2,2.441664e+10
1494,2015.0,1.0,D,발달상권,1001031,서울 관악구 신림역_1,4.257281e+10
1495,2015.0,1.0,D,발달상권,1001033,서울 서초구 남부터미널역_1,5.960635e+10

In [66]:
merge_df.to_csv("상권별_추정매출.csv")